Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "make -j2 lint/script",
  "*.{css,scss,vue}": "make lint/css",
  "package-lock.json": "make lint/lock"
}

chore(config/eslint): add vue/no-console (#3311)
  packages/config/src/eslint.cjs
  packages/kuma-gui/src/app/x/components/x-code-block/ResourceCodeBlock.vue
Due: make -j2 lint/script, make lint/css

chore(deps): bump MSW file
  packages/kuma-gui/public/mockServiceWorker.js
Due: make -j2 lint/script

refactor: add and use XAboutSection component in detail views
  package-lock.json
  packages/kuma-gui/package.json
  packages/kuma-gui/src/app/control-planes/components/ControlPlaneStatus.vue
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/external-services/locales/en-us/index.yaml
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailView.vue
  packages/kuma-gui/src/app/gateways/locales/en-us/index.yaml
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayDetailView.vue
  packages/kuma-gui/src/app/meshes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
  packages/kuma-gui/src/app/policies/locales/en-us/index.yaml
  packages/kuma-gui/src/app/policies/views/PolicyDetailView.vue
  packages/kuma-gui/src/app/services/locales/en-us/index.yaml
  packages/kuma-gui/src/app/services/views/MeshExternalServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/ServiceDetailView.vue
  packages/kuma-gui/src/app/x/components/x-about-section/XAboutSection.vue
  packages/kuma-gui/src/app/x/components/x-badge/XBadge.vue
  packages/kuma-gui/src/app/x/index.ts
  packages/kuma-gui/src/app/zone-egresses/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zones/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zones/views/ZoneDetailView.vue
  packages/kuma-gui/src/assets/styles/_components.scss
  packages/kuma-gui/src/assets/styles/main.scss
Due: make -j2 lint/script, make lint/css, make lint/lock

refactor(definition-card): add colon for title as decorative style
  packages/kuma-gui/src/app/common/DefinitionCard.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailView.vue
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayDetailView.vue
  packages/kuma-gui/src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
  packages/kuma-gui/src/app/policies/views/PolicyDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshExternalServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/ServiceDetailView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zones/views/ZoneDetailView.vue
Due: make -j2 lint/script, make lint/css

chore: remove unused component XTimespan
  packages/kuma-gui/src/app/x/components/x-timespan/README.md
  packages/kuma-gui/src/app/x/components/x-timespan/XTimespan.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

refactor(*DetailView): use XCopyButton instead of TextWithCopyButton
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailView.vue
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayDetailView.vue
  packages/kuma-gui/src/app/services/views/ServiceDetailView.vue
Due: make -j2 lint/script, make lint/css

remove console log
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailView.vue
Due: make -j2 lint/script, make lint/css

fix(external-services/external-service-detail-view): lost testid
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(hostname-generator): replace XCard with XAboutSection
  packages/kuma-gui/src/app/hostname-generators/locales/en-us/index.yaml
  packages/kuma-gui/src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
Due: make -j2 lint/script, make lint/css

fix(definition-card): title gap caused separation of decorative colon
  packages/kuma-gui/src/app/common/DefinitionCard.vue
Due: make -j2 lint/script, make lint/css

refactor(x-about-section): rename to XAboutCard
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailView.vue
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayDetailView.vue
  packages/kuma-gui/src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
  packages/kuma-gui/src/app/policies/views/PolicyDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshExternalServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/ServiceDetailView.vue
  packages/kuma-gui/src/app/x/components/x-about-card/XAboutCard.vue
  packages/kuma-gui/src/app/x/index.ts
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zones/views/ZoneDetailView.vue
Due: make -j2 lint/script, make lint/css

feat(x-copy-button): add variant prop for badge appearance
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailView.vue
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayDetailView.vue
  packages/kuma-gui/src/app/services/views/ServiceDetailView.vue
  packages/kuma-gui/src/app/x/components/x-copy-button/XCopyButton.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(x-about-section): remove duplicate style for layout
  packages/kuma-gui/src/app/x/components/x-about-section/XAboutSection.vue
Due: make -j2 lint/script, make lint/css

refactor(mesh-detail-view): move mTLS to about-section
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(x-about-section): move date formatting to component
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailView.vue
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayDetailView.vue
  packages/kuma-gui/src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
  packages/kuma-gui/src/app/policies/views/PolicyDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshExternalServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/ServiceDetailView.vue
  packages/kuma-gui/src/app/x/components/x-about-section/XAboutSection.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zones/views/ZoneDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(data-plane-detail-view): move static to i18n
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(mesh-detail-view): add borders to resource-status columns
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(x-badge): remove custom styles for nested anchors
  packages/kuma-gui/src/app/x/components/x-badge/XBadge.vue
Due: make -j2 lint/script, make lint/css

chore(deps): bump MSW file (#3314)
  packages/kuma-gui/public/mockServiceWorker.js
Due: make -j2 lint/script

refactor(common/resource-status): prefer undefined over null (#3301)
  packages/kuma-gui/src/app/common/ResourceStatus.vue
Due: make -j2 lint/script, make lint/css

chore: remove forms related CSS
  packages/kuma-gui/src/assets/styles/_forms.scss
  packages/kuma-gui/src/assets/styles/main.scss
Due: make lint/css

refactor: add and use XAboutCard component in detail views (#3300)
  package-lock.json
  packages/kuma-gui/package.json
  packages/kuma-gui/src/app/common/DefinitionCard.vue
  packages/kuma-gui/src/app/control-planes/components/ControlPlaneStatus.vue
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/external-services/locales/en-us/index.yaml
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailView.vue
  packages/kuma-gui/src/app/gateways/locales/en-us/index.yaml
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayDetailView.vue
  packages/kuma-gui/src/app/hostname-generators/locales/en-us/index.yaml
  packages/kuma-gui/src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  packages/kuma-gui/src/app/meshes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
  packages/kuma-gui/src/app/policies/locales/en-us/index.yaml
  packages/kuma-gui/src/app/policies/views/PolicyDetailView.vue
  packages/kuma-gui/src/app/services/locales/en-us/index.yaml
  packages/kuma-gui/src/app/services/views/MeshExternalServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceDetailView.vue
  packages/kuma-gui/src/app/services/views/ServiceDetailView.vue
  packages/kuma-gui/src/app/x/components/x-about-card/XAboutCard.vue
  packages/kuma-gui/src/app/x/components/x-copy-button/XCopyButton.vue
  packages/kuma-gui/src/app/x/components/x-timespan/README.md
  packages/kuma-gui/src/app/x/components/x-timespan/XTimespan.vue
  packages/kuma-gui/src/app/x/index.ts
  packages/kuma-gui/src/app/zone-egresses/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zones/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zones/views/ZoneDetailView.vue
  packages/kuma-gui/src/assets/styles/_components.scss
  packages/kuma-gui/src/assets/styles/main.scss
Due: make -j2 lint/script, make lint/css, make lint/lock

fix(onboarding): fix menu appearing during onboarding
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

fix: upgrade button text color
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

chore(i18n): add a 'count=1' overwritable global variable
  packages/kuma-gui/src/app/application/services/i18n/I18n.ts
  packages/kuma-gui/src/app/kuma/locales/en-us/index.yaml
Due: make -j2 lint/script

chore(docs): add name of mock disabling env var
  packages/kuma-gui/docs/2-engineering-utilities.md
Due: none

feat(zones): Add feature flagged zone-ingress traffic view
  packages/kuma-gui/src/app/application/services/env/Env.ts
  packages/kuma-gui/src/app/connections/data/index.ts
  packages/kuma-gui/src/app/connections/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zones/features.ts
Due: make -j2 lint/script, make lint/css

be a bit more intentional about what we filter out
  packages/kuma-gui/src/app/connections/data/index.ts
  packages/kuma-gui/src/app/connections/sources.ts
Due: make -j2 lint/script

remove protocol, reorder page
  packages/kuma-gui/src/app/connections/components/connection-traffic/ConnectionCard.vue
Due: make -j2 lint/script, make lint/css

remove feature flag
  packages/kuma-gui/src/app/application/services/env/Env.ts
  packages/kuma-gui/src/app/zones/features.ts
Due: make -j2 lint/script

fix: upgrade button text color (#3317)
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

fix(onboarding): fix menu appearing during onboarding (#3316)
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

chore(docs): add name of mock disabling env var (#3319)
  packages/kuma-gui/docs/2-engineering-utilities.md
Due: none

feat(zones): Add zone-ingress traffic view (#3296)
  packages/kuma-gui/src/app/connections/components/connection-traffic/ConnectionCard.vue
  packages/kuma-gui/src/app/connections/data/index.ts
  packages/kuma-gui/src/app/connections/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
Due: make -j2 lint/script, make lint/css

fix: globally fix text color of buttons in alerts
  packages/kuma-gui/src/app/application/components/app-view/AppView.vue
  packages/kuma-gui/src/app/common/ErrorBlock.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
  packages/kuma-gui/src/app/onboarding/components/OnboardingAlert.vue
  packages/kuma-gui/src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  packages/kuma-gui/src/app/x/components/x-about-card/README.md
  packages/kuma-gui/src/app/x/components/x-alert/README.md
  packages/kuma-gui/src/app/x/components/x-alert/XAlert.vue
  packages/kuma-gui/src/app/x/index.ts
  packages/kuma-gui/src/app/zones/views/ZoneConfigView.vue
Due: make -j2 lint/script, make lint/css

feature(zones): adds a traffic view for zone egress
  packages/kuma-gui/src/app/connections/sources.ts
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
Due: make -j2 lint/script, make lint/css

fix: Fixes an issue where DataCollection can cause extra elements
  packages/kuma-gui/src/app/application/components/data-collection/DataCollection.vue
Due: make -j2 lint/script, make lint/css

chore(mocks): improves mocking for dataplane.networking
  packages/kuma-gui/features/mesh/dataplanes/DataplaneDetailsBuiltinGateway.feature
  packages/kuma-gui/features/mesh/dataplanes/DataplaneDetailsStandardProxy.feature
  packages/kuma-gui/features/mesh/dataplanes/DataplanePolicies.feature
  packages/kuma-gui/src/test-support/FakeKuma.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/_overview.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/policies.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_overview.ts
Due: make -j2 lint/script

chore(dataplanes): add bundle downloading functionality
  package-lock.json
  packages/kuma-gui/package.json
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
  packages/kuma-gui/src/app/kuma/services/kuma-api/KumaApi.ts
  packages/kuma-gui/src/app/x/components/x-modal/README.md
  packages/kuma-gui/src/app/x/components/x-modal/XModal.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css, make lint/lock

feature: adds x-progress component
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
  packages/kuma-gui/src/app/common/LoadingBlock.vue
  packages/kuma-gui/src/app/connections/components/connection-traffic/ConnectionCard.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/x/components/x-progress/README.md
  packages/kuma-gui/src/app/x/components/x-progress/XProgress.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css
