Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "make -j2 lint/script",
  "*.{css,scss,vue}": "make lint/css",
  "package-lock.json": "make lint/lock"
}

fix: fix loading skeleton for KTable
  features/application/Loading.feature
  package-lock.json
  package.json
  src/app/application/components/app-collection/AppCollection.vue
Due: make -j2 lint/script, make lint/css, make lint/lock

fix: fix loading skeleton for KTable @ kongponents:9.4.1 (#2868)
  features/application/Loading.feature
  package-lock.json
  package.json
  src/app/application/components/app-collection/AppCollection.vue
Due: make -j2 lint/script, make lint/css, make lint/lock

chore: husky pre-commit changes (#2847)
  .husky/pre-commit
Due: none

fix(zones): fix intro text typo (#2849)
  src/app/zones/locales/en-us/index.yaml
Due: none

fix(zones): correct egress documentation link (#2852)
  src/app/zone-egresses/views/ZoneEgressListView.vue
Due: make -j2 lint/script, make lint/css

feat(dataplanes): disable linking of new Mesh*Services (#2853)
  src/app/connections/data/index.spec.ts
  src/app/connections/data/index.ts
  src/app/connections/sources.ts
  src/app/data-planes/views/DataPlaneDetailView.vue
Due: make -j2 lint/script, make lint/css

chore(zones): add zones to all summary and detail pages (#2789)
  src/app/data-planes/sources.ts
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneSummaryView.vue
  src/app/policies/components/PolicySummary.vue
  src/app/policies/data/index.ts
  src/app/policies/locales/en-us/index.yaml
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/services/data/MeshExternalService.ts
  src/app/services/data/MeshService.ts
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshexternalservices/_.ts
Due: make -j2 lint/script, make lint/css

feature(services): initial support for MeshMultiZoneService (#2773)
  src/app/services/data/MeshMultizoneService.ts
  src/app/services/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/sources.ts
  src/app/services/views/MeshMultizoneServiceConfigView.vue
  src/app/services/views/MeshMultizoneServiceDetailTabsView.vue
  src/app/services/views/MeshMultizoneServiceDetailView.vue
  src/app/services/views/MeshMultizoneServiceListView.vue
  src/app/services/views/MeshMultizoneServiceSummaryView.vue
  src/app/x/components/x-breadcrumbs/XBreadcrumbs.vue
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices/_.ts
Due: make -j2 lint/script, make lint/css

chore(zones): Remove ability to create/delete zones from kuma (#2850)
  .env.development
  .env.preview
  features/application/Titles.feature
  features/zones/Create.feature
  features/zones/Delete.feature
  mk/build.mk
  src/app/kuma/index.ts
  src/app/zones-crud/components/ZoneControlPlanesListWithCreate.vue
  src/app/zones-crud/components/ZoneCreateKubernetesInstructions.vue
  src/app/zones-crud/components/ZoneCreateUniversalInstructions.vue
  src/app/zones-crud/features.ts
  src/app/zones-crud/index.ts
  src/app/zones-crud/locales/en-us/index.yaml
  src/app/zones-crud/routes.ts
  src/app/zones-crud/sources.ts
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/features.ts
  src/main.ts
  src/shims-env.d.ts
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/provision-zone.ts
Due: make -j2 lint/script, make lint/css

chore(zones): remove zone-crud README
  src/app/zones-crud/README.md
Due: none

fix: check for closed source on retry
  src/app/application/services/data-source/index.ts
  src/app/zones/sources.ts
  src/test-support/mocks/src/zones/_/_overview.ts
Due: make -j2 lint/script

chore: Refactor AppCollection to not include non-table things
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/data-collection/DataCollection.vue
  src/app/data-planes/views/DataPlaneListView.vue
Due: make -j2 lint/script, make lint/css

Implement changes everywhere
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/meshes/components/MeshInsightsList.vue
  src/app/meshes/views/MeshListView.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/rules/components/RuleList.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/services/views/ServiceListView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/sources.ts
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/views/ZoneListView.vue
Due: make -j2 lint/script, make lint/css

fix: ensure we encode DataSink params similar to using uri
  src/app/application/components/data-source/DataSink.vue
Due: make -j2 lint/script, make lint/css

fix: ensure we encode DataSink params similar to using uri (#2871)
  src/app/application/components/data-source/DataSink.vue
Due: make -j2 lint/script, make lint/css

chore: Refactor AppCollection to not include non-table things (#2846)
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/data-collection/DataCollection.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/meshes/components/MeshInsightsList.vue
  src/app/meshes/views/MeshListView.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/rules/components/RuleList.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/services/views/ServiceListView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/sources.ts
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/views/ZoneListView.vue
Due: make -j2 lint/script, make lint/css

chore(meshmultizoneservice): improvements to mmzservicesupport
  features/mesh/services/mesh-multi-zone-services/Index.feature
  features/mesh/services/mesh-multi-zone-services/Item.feature
  src/app/services/data/MeshMultizoneService.ts
  src/app/services/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/sources.ts
  src/app/services/views/MeshMultizoneServiceConfigView.vue
  src/app/services/views/MeshMultizoneServiceDetailTabsView.vue
  src/app/services/views/MeshMultizoneServiceDetailView.vue
  src/app/services/views/MeshMultizoneServiceListView.vue
  src/app/services/views/MeshMultizoneServiceSummaryView.vue
  src/test-support/fake.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices/_.ts
  src/types/auto-generated.d.ts
Due: make -j2 lint/script, make lint/css

case workaround
  src/app/services/data/MeshMultizoneService.ts
Due: make -j2 lint/script

case workaround
  src/app/services/data/MeshMultiZoneService.ts
Due: make -j2 lint/script

case workaround
  src/app/services/views/MeshExternalServiceConfigView.vue
  src/app/services/views/MeshExternalServiceDetailTabsView.vue
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshMultizoneServiceConfigView.vue
  src/app/services/views/MeshMultizoneServiceDetailTabsView.vue
  src/app/services/views/MeshMultizoneServiceDetailView.vue
  src/app/services/views/MeshMultizoneServiceListView.vue
  src/app/services/views/MeshMultizoneServiceSummaryView.vue
  src/app/services/views/MeshServiceConfigView.vue
  src/app/services/views/MeshServiceDetailTabsView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/app/services/views/ServiceConfigView.vue
  src/app/services/views/ServiceDetailTabsView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/services/views/ServiceListView.vue
Due: make -j2 lint/script, make lint/css

case workaround
  src/app/services/views/MeshExternalServiceConfigView.vue
  src/app/services/views/MeshExternalServiceDetailTabsView.vue
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshMultiZoneServiceConfigView.vue
  src/app/services/views/MeshMultiZoneServiceDetailTabsView.vue
  src/app/services/views/MeshMultiZoneServiceDetailView.vue
  src/app/services/views/MeshMultiZoneServiceListView.vue
  src/app/services/views/MeshMultiZoneServiceSummaryView.vue
  src/app/services/views/MeshServiceConfigView.vue
  src/app/services/views/MeshServiceDetailTabsView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/app/services/views/ServiceConfigView.vue
  src/app/services/views/ServiceDetailTabsView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/services/views/ServiceListView.vue
Due: make -j2 lint/script, make lint/css

chore(meshmzservice): improvements to mmzservicesupport (#2877)
  features/mesh/services/mesh-multi-zone-services/Index.feature
  features/mesh/services/mesh-multi-zone-services/Item.feature
  src/app/services/data/MeshMultiZoneService.ts
  src/app/services/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/sources.ts
  src/app/services/views/MeshMultiZoneServiceConfigView.vue
  src/app/services/views/MeshMultiZoneServiceDetailTabsView.vue
  src/app/services/views/MeshMultiZoneServiceDetailView.vue
  src/app/services/views/MeshMultiZoneServiceListView.vue
  src/app/services/views/MeshMultiZoneServiceSummaryView.vue
  src/test-support/fake.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices/_.ts
  src/types/auto-generated.d.ts
Due: make -j2 lint/script, make lint/css

fix: fixes DataPlanePolicyView calling _rules multiple times
  src/app/data-planes/views/DataPlanePoliciesView.vue
Due: make -j2 lint/script, make lint/css

chore(docs): adds docs on our dev bookmarklets
  docs/2-engineering-utilities.md
  docs/3-getting-started.md
  docs/4-modules.md
  docs/5-routing.md
  docs/6-releasing.md
Due: none

fix(policies): don't show a card if we don't find a zone
  src/app/policies/views/PolicyDetailView.vue
Due: make -j2 lint/script, make lint/css

chore: Reorders RouteView to have a root node
  src/app/application/components/route-view/RouteView.vue
Due: make -j2 lint/script, make lint/css

fix(docs): fix URL for README test badge
  README.md
Due: none

fix(docs): fix URL for README test badge (#2897)
  README.md
Due: none

chore(docs): adds docs on our dev bookmarklets (#2875)
  docs/2-engineering-utilities.md
  docs/3-getting-started.md
  docs/4-modules.md
  docs/5-routing.md
  docs/6-releasing.md
Due: none

fix: fixes DataPlanePolicyView calling _rules multiple times (#2878)
  src/app/data-planes/views/DataPlanePoliciesView.vue
Due: make -j2 lint/script, make lint/css

fix(policies): don't show a card if we don't find a zone (#2895)
  src/app/policies/views/PolicyDetailView.vue
Due: make -j2 lint/script, make lint/css

chore: Reorders RouteView to have a root node (#2896)
  src/app/application/components/route-view/RouteView.vue
Due: make -j2 lint/script, make lint/css

chore: Alter interface of MSW passthroughs for easier addition
  src/app/msw/index.ts
Due: make -j2 lint/script

chore(deps): removes dependabot PR limit
  .github/dependabot.yml
Due: none

feat(zones): move KDSSubscriptions to use a table/summary
  features/zones/zone-cps/Item.feature
  src/app/subscriptions/data/index.ts
  src/app/subscriptions/index.ts
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/routes.ts
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/subscriptions/views/SubscriptionSummaryView.vue
  src/app/zones/index.ts
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/routes.ts
  src/app/zones/views/ZoneDetailView.vue
  src/test-support/FakeKuma.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

always show globalInstanceId if there is one
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
Due: make -j2 lint/script, make lint/css

version column, zoneInstanceID header, show YAML not config
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/zones/index.ts
  src/app/zones/views/ZoneDetailView.vue
Due: make -j2 lint/script, make lint/css

i18n'ing
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/views/ZoneDetailView.vue
Due: make -j2 lint/script, make lint/css

Make both instanceId's optional
  src/test-support/mocks/src/zones/_/_overview.ts
  src/types/index.d.ts
Due: make -j2 lint/script
