Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "eslint --fix",
  "*.{css,scss,vue}": "stylelint --allow-empty-input --fix"
}

feature(zones): adds zoneCPId and versioning information
  src/app/control-planes/sources.ts
  src/app/subscriptions/components/SubscriptionHeader.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/locales/en-us/common/index.yaml
  src/test-support/mocks/src/zones/_/_overview.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(deps): bump kongponents to alpha-159
  package-lock.json
  package.json
Due: none

chore(deps): bump kongponents to alpha-159 (#2587)
  package-lock.json
  package.json
Due: none

remove the version warning notification stuff
  src/app/control-planes/sources.ts
  src/app/zones/views/ZoneDetailTabsView.vue
  src/locales/en-us/common/index.yaml
Due: eslint --fix, stylelint --allow-empty-input --fix

feat(meshservice): adds MeshService detail page (#2564)
  features/mesh/services/mesh-services/Index.feature
  src/app/data-planes/sources.ts
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/services/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/views/MeshServiceConfigView.vue
  src/app/services/views/MeshServiceDetailTabsView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
  src/types/index.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

fix(zones): include zone name in the breadcrumbs for zone proxies (#2585)
  src/app/zone-egresses/views/ZoneEgressDetailTabsView.vue
  src/app/zone-ingresses/views/ZoneIngressDetailTabsView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

feature(zones): adds Zone Instance Id and versioning information (#2586)
  src/app/control-planes/sources.ts
  src/app/subscriptions/components/SubscriptionHeader.vue
  src/test-support/mocks/src/zones/_/_overview.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

cast esbuild.Plugin versions to the same type
  cypress.config.ts
Due: eslint --fix

remove unused var
  src/app/data-planes/views/DataPlaneDetailView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(deps): kongponents/kpop/floating-ui upgrade
  package-lock.json
  package.json
  src/app/data-planes/views/DataPlaneSummaryView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(deps): kongponents/kpop/floating-ui upgrade (#2607)
  package-lock.json
  package.json
  src/app/data-planes/views/DataPlaneSummaryView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

add commented version bump
  public/mockServiceWorker.js
Due: eslint --fix

WIP
  features/mesh/services/mesh-external-services/Index.feature
  src/app/services/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/sources.ts
  src/app/services/views/MeshExternalServiceConfigView.vue
  src/app/services/views/MeshExternalServiceDetailTabsView.vue
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/services/kuma-api/KumaApi.ts
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/meshes/_/meshexternalservices.ts
  src/test-support/mocks/src/meshes/_/meshexternalservices/_.ts
  src/types/index.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

feat(policies): support namespaced affected dataplanes
  src/app/policies/data/index.ts
  src/app/policies/views/PolicyDetailView.vue
  src/test-support/mocks/src/meshes/_/circuit-breakers/_/_resources/dataplanes.ts
  src/types/index.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

feat(zones): add zone version and different coloring+tooltip if outdated
  features/zones/zone-cps/Item.feature
  src/app/control-planes/sources.ts
  src/app/subscriptions/components/SubscriptionHeader.vue
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/views/ZoneDetailView.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/zones/_/_overview.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

fix: removes CodeBlock toolbar stickiness
  src/app/common/code-block/CodeBlock.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

fix: removes CodeBlock toolbar stickiness (#2622)
  src/app/common/code-block/CodeBlock.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

feat(zones): add zone version and different coloring+tooltip if outdated (#2621)
  features/zones/zone-cps/Item.feature
  src/app/control-planes/sources.ts
  src/app/subscriptions/components/SubscriptionHeader.vue
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/views/ZoneDetailView.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/zones/_/_overview.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore: export control-planes compare
  src/app/control-planes/sources.ts
Due: eslint --fix

add TLS everywhere, plus port to detail page
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore: export control-planes compare (#2626)
  src/app/control-planes/sources.ts
Due: eslint --fix

move to table layout for affected dataplanes
  features/mesh/policies/DetailViewContent.feature
  src/app/common/EmptyBlock.vue
  src/app/data-planes/locales/en-us/index.yaml
  src/app/policies/data/index.ts
  src/app/policies/locales/en-us/index.yaml
  src/app/policies/routes.ts
  src/app/policies/sources.ts
  src/app/policies/views/PolicyDetailConfigView.vue
  src/app/policies/views/PolicyDetailTabsView.vue
  src/app/policies/views/PolicyDetailView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

feat(services): Adds support for MeshExternalService (#2619)
  features/mesh/services/mesh-external-services/Index.feature
  src/app/services/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/sources.ts
  src/app/services/views/MeshExternalServiceConfigView.vue
  src/app/services/views/MeshExternalServiceDetailTabsView.vue
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/services/kuma-api/KumaApi.ts
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/meshes/_/meshexternalservices.ts
  src/test-support/mocks/src/meshes/_/meshexternalservices/_.ts
  src/types/index.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

Add kuma.io/zone to mocks
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/meshes/_/circuit-breakers/_/_resources/dataplanes.ts
Due: eslint --fix

fix(deps): use correct semver constraint for kongponents alpha
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

fix(deps): use correct semver constraint for kongponents alpha (#2627)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: none

fix(deps): tell dependabot to stick to the version ranges we specify
  .github/dependabot.yml
Due: none

feat(policies): support namespaced affected dataplanes (#2620)
  features/mesh/policies/DetailViewContent.feature
  src/app/common/EmptyBlock.vue
  src/app/data-planes/locales/en-us/index.yaml
  src/app/policies/data/index.ts
  src/app/policies/locales/en-us/index.yaml
  src/app/policies/routes.ts
  src/app/policies/sources.ts
  src/app/policies/views/PolicyDetailConfigView.vue
  src/app/policies/views/PolicyDetailTabsView.vue
  src/app/policies/views/PolicyDetailView.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/meshes/_/circuit-breakers/_/_resources/dataplanes.ts
  src/types/index.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

feature(meshes): rework mesh detail page
  src/app/meshes/components/MeshStatus.vue
  src/app/meshes/locales/en-us/index.yaml
  src/app/meshes/views/MeshDetailView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

feature(meshes): rework mesh detail page (#2642)
  src/app/meshes/components/MeshStatus.vue
  src/app/meshes/locales/en-us/index.yaml
  src/app/meshes/views/MeshDetailView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

fix(data-planes/DataPlanePolicySummaryView): extra spacing and scrollbar
  src/app/data-planes/views/DataPlanePolicySummaryView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

refactor(data-planes/DataPlanePolicySummaryView): revert adding relative positioned element
  src/app/data-planes/views/DataPlanePolicySummaryView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

style(components/data-source/DataSource): make empty span less intrusive
  src/app/application/components/data-source/DataSource.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(deps): manually upgrade kongponents
  package-lock.json
Due: none

fix(data-planes/DataPlanePolicySummaryView): extra spacing and scrollbar (#2589)
  src/app/application/components/data-source/DataSource.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

fix: makes codeblock sticky toolbar use a variable height
  src/app/common/SummaryView.vue
  src/app/common/code-block/CodeBlock.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

fix: makes codeblock sticky toolbar use a variable height (#2658)
  src/app/common/SummaryView.vue
  src/app/common/code-block/CodeBlock.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(deps): manually upgrade kongponents (#2656)
  package-lock.json
Due: none

chore: stop passing a 'closable' through to all sources
  src/app/application/services/data-source/DataSourcePool.ts
  src/app/application/services/data-source/index.ts
Due: eslint --fix

chore: remove meta.module
  .yarnrc
  src/app/application/routes.ts
  src/app/data-planes/routes.ts
  src/app/gateways/routes.ts
  src/app/meshes/routes.ts
  src/app/policies/routes.ts
  src/app/services/routes.ts
  src/app/zone-egresses/routes.ts
  src/app/zone-ingresses/routes.ts
  src/app/zones/routes.ts
  src/shims-vue-router.d.ts
Due: eslint --fix
