Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

fix(onboarding): fixes empty state text and flakey onboarding test
  features/onboarding/dataplanes-overview/Index.feature
  src/app/onboarding/views/OnboardingDataplanesView.vue
Due: make -j2 lint/script, make lint/css

fix(deps): Tell dependabot to open more PRs
  .github/dependabot.yml
Due: none

fix(deps): Tell dependabot to open more PRs (#3066)
  .github/dependabot.yml
Due: none

fix(deps): Fix wrongly nested dependabot config
  .github/dependabot.yml
Due: none

fix(deps): Fix wrongly nested dependabot config (#3074)
  .github/dependabot.yml
Due: none

fix(dataplanes): Moves dataplanes to use state instead of health
  src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  src/app/data-planes/data/Dataplane.ts
  src/app/data-planes/data/DataplaneInsight.ts
  src/app/data-planes/data/DataplaneNetworking.ts
  src/app/data-planes/data/DataplaneOverview.ts
  src/app/data-planes/data/MeshGatewayDataplane.ts
  src/app/data-planes/data/SidecarDataplane.ts
  src/app/data-planes/data/index.spec.ts
  src/app/data-planes/data/index.ts
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/data-planes/views/DataPlaneSummaryView.vue
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

chore: removes EmptyBlock in favour of XEmptyState (#2874)
  src/app/application/components/data-collection/DataCollection.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneSummaryView.vue
  src/app/gateways/components/ListenerRoutes.vue
  src/app/policies/views/PolicyListView.vue
  src/app/policies/views/PolicySummaryView.vue
  src/app/services/views/ServiceConfigView.vue
  src/app/x/components/x-empty-state/README.md
  src/app/x/components/x-empty-state/XEmptyState.vue
  src/app/x/index.ts
  src/app/zone-egresses/views/ZoneEgressSummaryView.vue
  src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

chore(ci): rename create-GUI-PR workflow to "release"
  .github/workflows/release.yml
Due: none

fix(.vitepress): typescript support
  .vitepress/config.ts
  tsconfig.json
Due: make -j2 lint/script

remove repository guard
  .github/workflows/on-dependabot-pr.yml
Due: none

fix(.vitepress): typescript support (#3079)
  .vitepress/config.ts
  tsconfig.json
Due: make -j2 lint/script

chore: Alter interface of MSW passthroughs for easier addition (#2909)
  src/app/msw/index.ts
Due: make -j2 lint/script

fix(onboarding): fixes empty state text and flakey onboarding test (#3058)
  features/onboarding/dataplanes-overview/Index.feature
  src/app/onboarding/views/OnboardingDataplanesView.vue
Due: make -j2 lint/script, make lint/css

chore(e2e): mock cleanup (#3034)
  src/test-support/mocks/README.md
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/dataplanes.ts
  src/test-support/mocks/src/external-services.ts
  src/test-support/mocks/src/service-insights.ts
  src/test-support/mocks/src/zone-ingresses/_overview.ts
  src/test-support/mocks/src/zoneegresses/_/clusters.ts
  src/test-support/mocks/src/zoneegresses/_/stats.ts
  src/test-support/mocks/src/zoneegresses/_overview.ts
  src/test-support/mocks/src/zoneingresses/_/clusters.ts
  src/test-support/mocks/src/zoneingresses/_/stats.ts
  src/test-support/mocks/src/zones/_.ts
  src/test-support/mocks/src/zones/_overview.ts
Due: make -j2 lint/script

chore(deps): add dependabot PR hooks (#2918)
  .github/workflows/main.yml
  .github/workflows/on-dependabot-pr.yml
Due: none

fix(dataplanes): Moves dataplanes to use state instead of health (#3078)
  src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  src/app/data-planes/data/Dataplane.ts
  src/app/data-planes/data/DataplaneInsight.ts
  src/app/data-planes/data/DataplaneNetworking.ts
  src/app/data-planes/data/DataplaneOverview.ts
  src/app/data-planes/data/MeshGatewayDataplane.ts
  src/app/data-planes/data/SidecarDataplane.ts
  src/app/data-planes/data/index.spec.ts
  src/app/data-planes/data/index.ts
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/data-planes/views/DataPlaneSummaryView.vue
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

chore(ci): rename GUI PR GHA to "release" (#3047)
  .github/workflows/release.yml
Due: none

fix(ci): add creds to dependabots label editing
  .github/workflows/on-dependabot-pr.yml
Due: none

fix(mocks): re-add zone HTTP endpoint
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/zones/_.ts
Due: make -j2 lint/script

fix(ci): add creds to dependabots label editing (#3086)
  .github/workflows/on-dependabot-pr.yml
Due: none

fix(mocks): re-add zone HTTP endpoint (#3087)
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/zones/_.ts
Due: make -j2 lint/script

chore(services): remove mesh-service feature flag
  src/app/services/features.ts
  src/app/services/routes.ts
Due: make -j2 lint/script

fix(search): Always show search bars
  src/app/application/components/app-collection/AppCollection.vue
  src/app/common/filter-bar/FilterBar.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/x/components/x-input/XInput.vue
Due: make -j2 lint/script, make lint/css

chore: moves font-size declaration to apply everywhere
  src/app/application/components/app-view/AppView.vue
  src/assets/styles/_base.scss
Due: make -j2 lint/script, make lint/css

chore: adds XLayout component
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/app-view/AppView.vue
  src/app/application/components/data-collection/DataCollection.vue
  src/app/x/components/x-layout/README.md
  src/app/x/components/x-layout/XLayout.vue
  src/app/x/index.ts
  src/assets/styles/_components.scss
Due: make -j2 lint/script, make lint/css

Additional wrapping divs to avoid spacing sub content
  src/app/application/components/data-collection/DataCollection.vue
Due: make -j2 lint/script, make lint/css

Update src/app/application/components/app-view/README.md
  src/app/application/components/app-view/README.md
Due: none

refactor(meshServices): remove enabled
  src/app/meshes/data/Mesh.ts
  src/test-support/mocks/src/meshes/_.ts
  src/types/index.d.ts
Due: make -j2 lint/script

fix(msw): inconsistent package version in generated file
  public/mockServiceWorker.js
Due: make -j2 lint/script

refactor(meshServices): remove enabled (#3094)
  src/app/meshes/data/Mesh.ts
  src/test-support/mocks/src/meshes/_.ts
  src/types/index.d.ts
Due: make -j2 lint/script

fix(msw): inconsistent package version in generated file (#3095)
  public/mockServiceWorker.js
Due: make -j2 lint/script

fix(ShortcutManager/normalizeKeyCode): code param can be undefined
  src/app/common/filter-bar/ShortcutManager.ts
Due: make -j2 lint/script

chore(deps): MSW and Sass post upgrade fixes
  vite.config.production.ts
Due: make -j2 lint/script

chore: prevents unwanted click events firing (#3048)
  src/app/application/components/app-collection/AppCollection.vue
  src/app/common/SummaryView.vue
Due: make -j2 lint/script, make lint/css

chore: moves font-size declaration to apply everywhere (#3091)
  src/app/application/components/app-view/AppView.vue
  src/assets/styles/_base.scss
Due: make -j2 lint/script, make lint/css

chore(docs): some updates to our engineering handbook (#3057)
  docs/1-tldr.md
  docs/2-engineering-utilities.md
  docs/4-modules.md
  docs/5-routing.md
  src/app/application/components/app-view/README.md
  src/app/application/components/route-view/README.md
Due: none

chore(services): remove mesh-service feature flag (#3090)
  src/app/services/features.ts
  src/app/services/routes.ts
Due: make -j2 lint/script

chore(deps): MSW and Sass post upgrade fixes (#3010)
  vite.config.production.ts
Due: make -j2 lint/script

Path conditions:
  make -j2 lint/script: any of: *.{js,ts,vue}
  make lint/css: any of: *.{css,scss,vue}
  make lint/lock: any of: package-lock.json
