Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

fix(meshgateways): add display-name support to MeshGateways
  features/application/Titles.feature
  features/mesh/builtin-gateways/Index.feature
  features/mesh/builtin-gateways/Item.feature
  src/app/gateways/data/MeshGateway.ts
  src/app/gateways/data/index.ts
  src/app/gateways/views/BuiltinGatewayDetailTabsView.vue
  src/app/gateways/views/BuiltinGatewayDetailView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/test-support/mocks/src/meshes/_/meshgateways.ts
  src/test-support/mocks/src/meshes/_/meshgateways/_.ts
Due: make -j2 lint/script, make lint/css

fix(meshgateways): add display-name support to MeshGateways (#2972)
  features/application/Titles.feature
  features/mesh/builtin-gateways/Index.feature
  features/mesh/builtin-gateways/Item.feature
  src/app/gateways/data/MeshGateway.ts
  src/app/gateways/data/index.ts
  src/app/gateways/views/BuiltinGatewayDetailTabsView.vue
  src/app/gateways/views/BuiltinGatewayDetailView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/test-support/mocks/src/meshes/_/meshgateways.ts
  src/test-support/mocks/src/meshes/_/meshgateways/_.ts
Due: make -j2 lint/script, make lint/css

chore(e2e): fill out _rules API with toResourceRules
  mk/build.mk
  src/test-support/FakeKuma.ts
  src/test-support/fake.ts
  src/test-support/mocks/src/meshes/_/dataplanes/_/_rules.ts
  src/test-support/mocks/src/meshes/_/dataplanes/_/stats.ts
  src/test-support/mocks/src/policies.ts
  src/types/auto-generated.d.ts
Due: make -j2 lint/script

chore(deps): removes vue-docgen-cli
  package-lock.json
  package.json
Due: make lint/lock

fix: Correct DataSource arguments
  src/app/application/index.ts
Due: make -j2 lint/script

convert Rules data layer to use generated types instead of handwritten
  src/app/application/components/data-source/DataLoader.vue
  src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  src/app/data-planes/views/DataPlanePoliciesView.vue
  src/app/gateways/components/ListenerRoutes.vue
  src/app/gateways/sources.ts
  src/app/rules/data/Rule.ts
  src/app/rules/data/index.ts
  src/app/rules/sources.ts
Due: make -j2 lint/script, make lint/css

chore(deps): runs npm audit for nise > path-to-regexp
  package-lock.json
Due: make lint/lock

chore: adds Progress icon to XIcon/Xbutton
  src/app/x/components/x-action/XAction.vue
  src/app/x/components/x-icon/XIcon.vue
Due: make -j2 lint/script, make lint/css

chore(deps): runs npm audit for nise > path-to-regexp (#3007)
  package-lock.json
Due: make lint/lock

chore(deps): removes vue-docgen-cli (#2999)
  package-lock.json
  package.json
Due: make lint/lock

chore: adds Progress icon to XIcon/XAction (#3008)
  src/app/x/components/x-action/XAction.vue
  src/app/x/components/x-icon/XIcon.vue
Due: make -j2 lint/script, make lint/css

chore(deps): MSW and Sass post upgrade fixes
  public/mockServiceWorker.js
  vite.config.production.ts
Due: make -j2 lint/script

chore: "unuse" ErrorBlock
  src/app/services/views/ServiceConfigView.vue
  src/app/zones/views/ZoneListView.vue
Due: make -j2 lint/script, make lint/css

fix: Correct DataSource arguments order (#3005)
  src/app/application/index.ts
Due: make -j2 lint/script

fix(kuma): book icon style updates
  src/app/application/components/app-view/AppView.vue
Due: make -j2 lint/script, make lint/css

fix(kuma): book icon style updates (#3012)
  src/app/application/components/app-view/AppView.vue
Due: make -j2 lint/script, make lint/css

chore(meshes): Use `meshServices.mode` w/fallback `meshServices.enabled`
  src/app/application/index.ts
  src/app/application/utilities/index.ts
  src/app/meshes/data/Mesh.ts
  src/app/meshes/data/index.spec.ts
  src/app/services/features.ts
  src/types/index.d.ts
Due: make -j2 lint/script

chore(meshes): Use `meshServices.mode` w/fallback `meshServices.enabled` (#3014)
  src/app/application/index.ts
  src/app/application/utilities/index.ts
  src/app/meshes/data/Mesh.ts
  src/app/meshes/data/index.spec.ts
  src/app/services/features.ts
  src/types/index.d.ts
Due: make -j2 lint/script

chore: remove unnecessary env vars
  .env
  .env.development
  .env.preview
  index.html
  src/app/application/services/env/CliEnv.ts
  src/app/application/services/env/Env.ts
  vite.config.development.ts
Due: make -j2 lint/script

chore(ci): add active-branches file
  active-branches.json
Due: none

chore(ci): add active-branches file (#3016)
  active-branches.json
Due: none

chore(mk): move accessible targets to the "make main file" i.e. Makefile
  Makefile
  mk/build.mk
  mk/check.mk
  mk/help.mk
  mk/install.mk
  mk/run.mk
  mk/test.mk
  package.json
Due: none

Tweak URL
  features/application/MainNavigation.feature
Due: none

chore(e2e): adds localStorage setup and teardown step
  cypress/support/step_definitions/index.ts
  cypress/support/step_definitions/visit.ts
Due: make -j2 lint/script

feat: add include_eds checkbox for XDS config views
  src/app/data-planes/sources.ts
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/zone-egresses/sources.ts
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/sources.ts
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/zoneegresses/_/xds.ts
  src/test-support/mocks/src/zoneingresses/_/xds.ts
Due: make -j2 lint/script, make lint/css

feat: add include_eds checkbox for XDS config views (#3032)
  src/app/data-planes/sources.ts
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/zone-egresses/sources.ts
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/sources.ts
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/zoneegresses/_/xds.ts
  src/test-support/mocks/src/zoneingresses/_/xds.ts
Due: make -j2 lint/script, make lint/css

Minor TS amends for 2.1.6
  src/app/application/components/route-view/RouteView.vue
  src/app/x/components/x-select/XSelect.vue
Due: make -j2 lint/script, make lint/css

fix: include include_eds option in the URL
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
Due: make -j2 lint/script, make lint/css

fix: include include_eds option in the URL (#3033)
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
Due: make -j2 lint/script, make lint/css

chore(e2e): mock cleanup
  src/test-support/mocks/README.md
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/dataplanes.ts
  src/test-support/mocks/src/external-services.ts
  src/test-support/mocks/src/service-insights.ts
  src/test-support/mocks/src/zone-ingresses/_overview.ts
  src/test-support/mocks/src/zoneegresses/_/clusters.ts
  src/test-support/mocks/src/zoneegresses/_/stats.ts
  src/test-support/mocks/src/zoneegresses/_overview.ts
  src/test-support/mocks/src/zoneingresses/_/clusters.ts
  src/test-support/mocks/src/zoneingresses/_/stats.ts
  src/test-support/mocks/src/zones/_.ts
  src/test-support/mocks/src/zones/_overview.ts
Due: make -j2 lint/script

chore: prevents unwanted click events firing
  src/app/application/components/app-collection/AppCollection.vue
  src/app/common/SummaryView.vue
Due: make -j2 lint/script, make lint/css

chore(ci): rename create-GUI-PR workflow to "release"
  .github/workflows/release.yml
Due: none

chore(deps): removes dependabot PR limit (#2910)
  .github/dependabot.yml
Due: none

chore: add route.from property to RouterView::router
  src/app/application/components/route-view/RouteView.vue
Due: make -j2 lint/script, make lint/css

chore: Remove RouterLink from globals, its replaced by XAction
  .eslintrc.cjs
  src/app/common/TagList.vue
  src/app/common/TargetRef.vue
  src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/data-planes/components/BuiltinGatewayPolicies.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlanePolicySummaryView.vue
  src/app/data-planes/views/DataPlaneSummaryView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/components/ListenerRoutes.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/kuma/components/ApplicationShell.vue
  src/app/policies/components/PolicyTypeEntryList.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicySummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/zone-egresses/views/ZoneEgressSummaryView.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

replace remaining kbuttons with xactions
  src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneStatsView.vue
  src/app/kuma/components/ApplicationShell.vue
  src/app/kuma/views/KumaNotFoundView.vue
  src/app/onboarding/components/OnboardingAlert.vue
  src/app/onboarding/components/OnboardingNavigation.vue
  src/app/x/components/x-action/XAction.vue
Due: make -j2 lint/script, make lint/css

chore: removes EmptyBlock in favour of XEmptyState
  src/app/application/components/data-collection/DataCollection.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneSummaryView.vue
  src/app/gateways/components/ListenerRoutes.vue
  src/app/policies/views/PolicyListView.vue
  src/app/policies/views/PolicySummaryView.vue
  src/app/services/views/ServiceConfigView.vue
  src/app/x/components/x-empty-state/README.md
  src/app/x/components/x-empty-state/XEmptyState.vue
  src/app/x/index.ts
  src/app/zone-egresses/views/ZoneEgressSummaryView.vue
  src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

chore: add route.from property to RouterView::route (#2872)
  src/app/application/components/route-view/RouteView.vue
Due: make -j2 lint/script, make lint/css

replace remaining kbuttons with xactions
  src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneStatsView.vue
  src/app/kuma/components/ApplicationShell.vue
  src/app/kuma/views/KumaNotFoundView.vue
  src/app/onboarding/components/OnboardingAlert.vue
  src/app/onboarding/components/OnboardingNavigation.vue
  src/app/x/components/x-action/XAction.vue
Due: make -j2 lint/script, make lint/css

chore(docs): some updates to our engineering handbook
  docs/1-tldr.md
  docs/2-engineering-utilities.md
  docs/4-modules.md
  docs/5-routing.md
  src/app/application/components/app-view/README.md
  src/app/application/components/route-view/README.md
Due: none

Path conditions:
  make -j2 lint/script: any of: *.{js,ts,vue}
  make lint/css: any of: *.{css,scss,vue}
  make lint/lock: any of: package-lock.json
