Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "make -j2 lint/script",
  "*.{css,scss,vue}": "make lint/css",
  "package-lock.json": "make lint/lock"
}

chore: remove global utilities folder
  src/app/application/components/route-view/RouteView.vue
  src/app/application/index.ts
  src/app/application/services/i18n/I18n.ts
  src/app/application/utilities/index.ts
  src/app/common/code-block/ResourceCodeBlock.vue
  src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/gateways/components/ListenerRoutes.vue
  src/app/gateways/utilities/index.ts
  src/app/gateways/utilities/matchesTags.spec.ts
  src/app/policies/components/PolicyTypeEntryList.vue
  src/app/rules/components/RuleList.vue
  src/app/zones/data/index.ts
  src/app/zones/views/ZoneListView.vue
  src/utilities/get.spec.ts
  src/utilities/get.ts
  src/utilities/toYaml.ts
Due: make -j2 lint/script, make lint/css

fix(zones): Unmix zone warning texts
  src/app/zones/locales/en-us/index.yaml
Due: none

fix: silences/fixes some dev-time console warnings
  src/app/common/EmptyBlock.vue
  src/app/msw/index.ts
  src/app/x/components/x-action-group/XActionGroup.vue
  src/app/x/components/x-action/XAction.vue
  src/app/x/components/x-copy-button/XCopyButton.vue
  src/app/x/debug.ts
  src/app/x/index.ts
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zones/data/index.ts
  src/main.ts
  vite.config.production.ts
Due: make -j2 lint/script, make lint/css

fix: Use `vue` instead of `@vue/runtime-core` for registering components
  src/app/application/components/route-view/RouteView.vue
  src/app/application/index.ts
  src/app/application/utilities/index.ts
  src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

fix: Disable/replace incorrect eslint rule
  .eslintrc.cjs
Due: none

fix(zones): Unmix zone warning texts (#2793)
  src/app/zones/locales/en-us/index.yaml
Due: none

fix: Disable/replace incorrect eslint rule (#2807)
  .eslintrc.cjs
Due: none

fix: Use `vue` instead of `@vue/runtime-core` for registering components (#2795)
  src/app/application/components/route-view/RouteView.vue
  src/app/application/index.ts
  src/app/application/utilities/index.ts
  src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

fix(dataplanes): ensure search parameter is passed to HTTP call (#2788)
  features/mesh/dataplanes/Index.feature
  src/app/data-planes/views/DataPlaneListView.vue
Due: make -j2 lint/script, make lint/css

fix: silences/fixes some dev-time console warnings (#2794)
  src/app/common/EmptyBlock.vue
  src/app/msw/index.ts
  src/app/x/components/x-action-group/XActionGroup.vue
  src/app/x/components/x-action/XAction.vue
  src/app/x/components/x-copy-button/XCopyButton.vue
  src/app/x/debug.ts
  src/app/x/index.ts
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zones/data/index.ts
  src/main.ts
  vite.config.production.ts
Due: make -j2 lint/script, make lint/css

chore: remove global utilities folder (#2790)
  src/app/application/components/route-view/RouteView.vue
  src/app/application/index.ts
  src/app/application/services/i18n/I18n.ts
  src/app/application/utilities/index.ts
  src/app/common/code-block/ResourceCodeBlock.vue
  src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/gateways/components/ListenerRoutes.vue
  src/app/gateways/utilities/index.ts
  src/app/gateways/utilities/matchesTags.spec.ts
  src/app/policies/components/PolicyTypeEntryList.vue
  src/app/rules/components/RuleList.vue
  src/app/zones/data/index.ts
  src/app/zones/views/ZoneListView.vue
  src/utilities/get.spec.ts
  src/utilities/get.ts
  src/utilities/toYaml.ts
Due: make -j2 lint/script, make lint/css

feat(zones): move KDSSubscriptions to use a table/summary
  features/zones/zone-cps/Item.feature
  src/app/subscriptions/data/index.ts
  src/app/subscriptions/index.ts
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/routes.ts
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/subscriptions/views/SubscriptionSummaryView.vue
  src/app/zones/index.ts
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/routes.ts
  src/app/zones/views/ZoneDetailView.vue
  src/test-support/FakeKuma.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

fix(data-sink): unset error on a subsequent success
  features/zones/Create.feature
  src/app/application/components/data-source/DataSink.vue
Due: make -j2 lint/script, make lint/css

version column, zoneInstanceID header, show YAML not config
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/zones/index.ts
  src/app/zones/views/ZoneDetailView.vue
Due: make -j2 lint/script, make lint/css

chore(mesh-service): add copy button to address when there is only one
  src/app/services/data/MeshExternalService.ts
  src/app/services/data/MeshService.ts
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshexternalservices.ts
  src/test-support/mocks/src/meshes/_/meshservices.ts
Due: make -j2 lint/script, make lint/css

fix: prevent a re-render on `me` submission
  src/app/application/components/route-view/RouteView.vue
Due: make -j2 lint/script, make lint/css

chore: prevent a re-render if a change of headers has same value
  src/app/application/components/app-collection/AppCollection.vue
Due: make -j2 lint/script, make lint/css

WIP
  src/app/rules/components/RuleList.vue
  src/app/rules/data/index.ts
  src/test-support/fake.ts
  src/test-support/mocks/src/meshes/_/dataplanes/_/_rules.ts
  src/test-support/mocks/src/meshes/_/dataplanes/test-dataplane/_rules.ts
  src/test-support/mocks/src/meshes/_/meshgateways/_/_rules.ts
  src/test-support/mocks/src/meshes/_/meshgateways/test-meshgateway/_rules.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

fix(data-sink): unset error on a subsequent success (#2808)
  features/zones/Create.feature
  src/app/application/components/data-source/DataSink.vue
Due: make -j2 lint/script, make lint/css

chore(mesh-service): add copy button to address when there is only one (#2809)
  src/app/services/data/MeshExternalService.ts
  src/app/services/data/MeshService.ts
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshexternalservices.ts
  src/test-support/mocks/src/meshes/_/meshservices.ts
Due: make -j2 lint/script, make lint/css

fix: prevent a re-render on `me` submission (#2810)
  src/app/application/components/route-view/RouteView.vue
Due: make -j2 lint/script, make lint/css

always show globalInstanceId if there is one
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
Due: make -j2 lint/script, make lint/css

i18n'ing
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/views/ZoneDetailView.vue
Due: make -j2 lint/script, make lint/css

Make both instanceId's optional
  src/test-support/mocks/src/zones/_/_overview.ts
  src/types/index.d.ts
Due: make -j2 lint/script

Change test selectors to target select buttons
  features/mesh/dataplanes/Index.feature
Due: none

Format
  features/mesh/dataplanes/Index.feature
Due: none

Recreate the prevented enter key event
  src/app/x/components/x-prompt/XPrompt.vue
Due: make -j2 lint/script, make lint/css

temp revert version
  package-lock.json
  package.json
  src/app/x/components/x-prompt/XPrompt.vue
Due: make -j2 lint/script, make lint/css, make lint/lock

Remove form
  src/app/x/components/x-prompt/XPrompt.vue
Due: make -j2 lint/script, make lint/css

update to 9.5.1 and add modal fix
  package-lock.json
  package.json
  src/app/x/components/x-prompt/XPrompt.vue
Due: make -j2 lint/script, make lint/css, make lint/lock

Pin to anything less than 9.4.1
  package-lock.json
  package.json
Due: make lint/lock

chore(tests): default CYPRESS_SPEC to all feature files
  mk/test.mk
Due: none

chore: prevent a re-render if a change of headers has same value (#2811)
  src/app/application/components/app-collection/AppCollection.vue
Due: make -j2 lint/script, make lint/css

chore(tests): default CYPRESS_SPEC to all feature files (#2845)
  mk/test.mk
Due: none

chore: husky pre-commit changes
  .husky/pre-commit
Due: none

fix(zones): fix intro text typo
  src/app/zones/locales/en-us/index.yaml
Due: none

chore(zones): Remove ability to create/delete zones from kuma
  .env.development
  .env.preview
  features/application/Titles.feature
  features/zones/Create.feature
  features/zones/Delete.feature
  mk/build.mk
  src/app/kuma/index.ts
  src/app/zones-crud/components/ZoneControlPlanesListWithCreate.vue
  src/app/zones-crud/components/ZoneCreateKubernetesInstructions.vue
  src/app/zones-crud/components/ZoneCreateUniversalInstructions.vue
  src/app/zones-crud/features.ts
  src/app/zones-crud/index.ts
  src/app/zones-crud/locales/en-us/index.yaml
  src/app/zones-crud/routes.ts
  src/app/zones-crud/sources.ts
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/features.ts
  src/main.ts
  src/shims-env.d.ts
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/provision-zone.ts
Due: make -j2 lint/script, make lint/css

fix(zones): correct egress documentation link
  src/app/zone-egresses/views/ZoneEgressListView.vue
Due: make -j2 lint/script, make lint/css

feat(dataplanes): disable linking of new Mesh*Services
  src/app/connections/data/index.spec.ts
  src/app/connections/data/index.ts
  src/app/connections/sources.ts
  src/app/data-planes/views/DataPlaneDetailView.vue
Due: make -j2 lint/script, make lint/css
