Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --allow-empty-input --fix

WIP
  src/app/App.vue
  src/app/application/components/app-navigator/AppNavigator.vue
  src/app/control-planes/components/ControlPlaneNavigator.vue
  src/app/control-planes/routes.ts
  src/app/meshes/components/MeshNavigator.vue
  src/app/vue/index.ts
  src/app/zone-egresses/components/ZoneEgressNavigator.vue
  src/app/zones/components/ZoneNavigator.vue
  src/app/zones/routes.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

fix: makes codeblock sticky toolbar use a variable height (#2658)
  src/app/common/SummaryView.vue
  src/app/common/code-block/CodeBlock.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

feat(zones): move KDSSubscriptions to use a table/summary
  features/zones/zone-cps/Item.feature
  src/app/subscriptions/data/index.ts
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/routes.ts
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/subscriptions/views/SubscriptionSummaryView.vue
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/routes.ts
  src/app/zones/views/ZoneDetailView.vue
  src/locales/en-us/index.ts
  src/test-support/FakeKuma.ts
  src/types/index.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

WIP
  features/zones/Delete.feature
  package-lock.json
  package.json
Due: none

feat(policies): add name based search to policy listing
  features/mesh/policies/Data.feature
  features/mesh/policies/Index.feature
  features/mesh/policies/PolicySummary.feature
  src/app/application/components/app-collection/AppCollection.vue
  src/app/policies/locales/en-us/index.yaml
  src/app/policies/sources.ts
  src/app/policies/views/PolicyListView.vue
  src/locales/en-us/common/index.yaml
  src/services/kuma-api/KumaApi.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(deps): Upgrade kongponents (#2663)
  features/zones/Delete.feature
  package-lock.json
  package.json
Due: none

chore: Moves LinkBox to XActionGroup
  src/app/gateways/views/GatewayListTabsView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/x/components/x-action-group/README.md
  src/app/x/components/x-action-group/XActionGroup.vue
  src/app/x/index.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(meshes): add warning for when mTLS is enabled but no MTP exists
  package-lock.json
  package.json
  src/app/meshes/index.ts
  src/app/meshes/locales/en-us/index.yaml
  src/app/meshes/views/MeshDetailView.vue
  src/assets/styles/main.scss
  src/test-support/mocks/src/meshes/_.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(meshservice): move protocol to appProtocol
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
  src/types/index.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(meshservice): move protocol to appProtocol (#2675)
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
  src/types/index.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

Look at both old and new policies
  src/app/meshes/views/MeshDetailView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(meshes): add warning for when mTLS is enabled but no MTP exists (#2674)
  package-lock.json
  package.json
  src/app/meshes/index.ts
  src/app/meshes/locales/en-us/index.yaml
  src/app/meshes/views/MeshDetailView.vue
  src/assets/styles/main.scss
  src/test-support/mocks/src/meshes/_.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

fix(meshes): Prevents a double warning for mTLS disabled and no policy
  package-lock.json
  package.json
  src/app/meshes/views/MeshDetailView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

fix(meshes): Prevents a double warning for mTLS disabled and no policy (#2677)
  package-lock.json
  package.json
  src/app/meshes/views/MeshDetailView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(meshes): [port] add warning for when mTLS is enabled but no MTP exists (#2693)
  package-lock.json
  package.json
  src/app/meshes/index.ts
  src/app/meshes/locales/en-us/index.yaml
  src/app/meshes/views/MeshDetailView.vue
  src/assets/styles/main.scss
  src/test-support/mocks/src/meshes/_.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(deps): upgrade kongponents to 9.0.0
  package-lock.json
  package.json
Due: none

fix: [port] makes codeblock sticky toolbar use a variable height (#2665)
  src/app/common/SummaryView.vue
  src/app/common/code-block/CodeBlock.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(meshservice): move protocol to appProtocol (#2675) (#2692)
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
  src/types/index.d.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore: Moves LinkBox to XActionGroup (#2673)
  src/app/gateways/views/GatewayListTabsView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/x/components/x-action-group/README.md
  src/app/x/components/x-action-group/XActionGroup.vue
  src/app/x/index.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore: remove meta.module (#2661)
  .yarnrc
  src/app/application/routes.ts
  src/app/data-planes/routes.ts
  src/app/gateways/routes.ts
  src/app/meshes/routes.ts
  src/app/policies/routes.ts
  src/app/services/routes.ts
  src/app/zone-egresses/routes.ts
  src/app/zone-ingresses/routes.ts
  src/app/zones/routes.ts
  src/shims-vue-router.d.ts
Due: eslint --fix

chore(docs): add tldr page plus expands on docs linked from tldr (#2567)
  .vitepress/config.ts
  .vitepress/theme/style.css
  docs/tldr.md
  src/app/application/components/app-view/README.md
  src/app/application/components/data-source/README.md
  src/app/application/components/route-view/README.md
  stylelint.config.cjs
Due: eslint --fix, stylelint --allow-empty-input --fix

chore: adds better inline type documentation (#2584)
  .github/workflows/main.yml
  mk/install.mk
  mk/test.mk
  tsconfig.json
Due: none

chore: stop passing a 'closable' through to all sources (#2660)
  src/app/application/services/data-source/DataSourcePool.ts
  src/app/application/services/data-source/index.ts
Due: eslint --fix

feat(policies): add name based search to policy listing (#2666)
  features/mesh/policies/Data.feature
  features/mesh/policies/Index.feature
  features/mesh/policies/PolicySummary.feature
  src/app/application/components/app-collection/AppCollection.vue
  src/app/policies/locales/en-us/index.yaml
  src/app/policies/sources.ts
  src/app/policies/views/PolicyListView.vue
  src/locales/en-us/common/index.yaml
  src/services/kuma-api/KumaApi.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

chore(deps): upgrade kongponents to 9.0.0 (#2678)
  package-lock.json
  package.json
Due: none

chore: reuse route.child for main navigation (#2662)
  src/app/App.vue
  src/app/application/components/app-navigator/AppNavigator.vue
  src/app/control-planes/components/ControlPlaneNavigator.vue
  src/app/control-planes/routes.ts
  src/app/meshes/components/MeshNavigator.vue
  src/app/vue/index.ts
  src/app/zone-egresses/components/ZoneEgressNavigator.vue
  src/app/zones/components/ZoneNavigator.vue
  src/app/zones/routes.ts
Due: eslint --fix, stylelint --allow-empty-input --fix

fix(meshservice): Decode DataSource parameters
  features/mesh/services/mesh-services/Item.feature
  package-lock.json
  package.json
  src/app/application/services/data-source/Router.ts
Due: eslint --fix

chore(deps): remove babel
  babel.config.js
  package-lock.json
  package.json
Due: eslint --fix

chore(deps): remove babel (#2657)
  babel.config.js
  package-lock.json
  package.json
Due: eslint --fix

WIP
  .eslintrc.cjs
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/data-source/DataSink.vue
  src/app/application/components/route-view/RouteView.vue
  src/app/application/index.ts
  src/app/me/sources.ts
  src/app/meshes/views/MeshListView.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

chore: expose fetch-like function from RestClient
  src/services/kuma-api/RestClient.ts
Due: eslint --fix

fix(meshservice): Encode/Decode DataSource parameters (#2694)
  features/mesh/services/mesh-services/Item.feature
  package-lock.json
  package.json
  src/app/application/services/data-source/Router.ts
Due: eslint --fix

chore: Remove ResourceDateStatus component
  src/app/common/ResourceDateStatus.vue
Due: eslint --fix, stylelint --allow-empty-input --fix

fix(meshservice): Encode/Decode DataSource parameters (#2694)
  features/mesh/services/mesh-services/Item.feature
  src/app/application/services/data-source/Router.ts
Due: eslint --fix

fix(meshservice): Encode/Decode DataSource parameters (#2694) (#2697)
  features/mesh/services/mesh-services/Item.feature
  src/app/application/services/data-source/Router.ts
Due: eslint --fix

refact(control-planes): use DataCollection for CP detail page
  src/app/common/EmptyBlock.vue
  src/app/control-planes/views/ControlPlaneDetailView.vue
  src/app/meshes/components/MeshInsightsList.vue
  src/app/meshes/locales/en-us/index.yaml
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/locales/en-us/index.yaml
Due: eslint --fix, stylelint --allow-empty-input --fix

correct test data
  features/main-overview/DetailViewContent.feature
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/mesh-insights.ts
  src/test-support/mocks/src/mesh-insights/_.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,vue}
  stylelint --allow-empty-input --fix: any of: *.{css,scss,vue}
