Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

fix(dataplanes): correct MeshService regexp based matching
  packages/kuma-gui/src/app/connections/data/index.ts
Due: make -j2 lint/script

Update packages/kuma-gui/src/app/connections/data/index.ts
  packages/kuma-gui/src/app/connections/data/index.ts
Due: make -j2 lint/script

add e2e tests
  packages/kuma-gui/features/mesh/dataplanes/overview/ClusterNames.feature
Due: none

refactor(app/navigation): split sidebar navigation, move diagnostics to configuration (#3213)
  packages/kuma-gui/features/application/MainNavigation.feature
  packages/kuma-gui/features/application/Titles.feature
  packages/kuma-gui/features/configuration/DetailViewContent.feature
  packages/kuma-gui/src/app/App.vue
  packages/kuma-gui/src/app/application/components/app-navigator/AppNavigator.vue
  packages/kuma-gui/src/app/configuration/README.md
  packages/kuma-gui/src/app/configuration/index.ts
  packages/kuma-gui/src/app/configuration/locales/en-us/index.yaml
  packages/kuma-gui/src/app/configuration/routes.ts
  packages/kuma-gui/src/app/configuration/views/ConfigurationDetailView.vue
  packages/kuma-gui/src/app/diagnostics/locales/en-us/index.yaml
  packages/kuma-gui/src/app/diagnostics/routes.ts
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
  packages/kuma-gui/src/assets/images/navigation/icon-configuration.svg
  packages/kuma-gui/src/assets/images/navigation/icon-home.svg
  packages/kuma-gui/src/assets/images/navigation/icon-meshes.svg
  packages/kuma-gui/src/assets/images/navigation/icon-zone-egresses.svg
  packages/kuma-gui/src/assets/images/navigation/icon-zones.svg
  packages/kuma-gui/src/main.ts
Due: make -j2 lint/script, make lint/css

use t for dt's
  packages/kuma-gui/src/app/x/components/x-timespan/XTimespan.vue
Due: make -j2 lint/script, make lint/css

feat: adds XTimespan component (#3234)
  package-lock.json
  packages/kuma-gui/package.json
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryOverviewView.vue
  packages/kuma-gui/src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  packages/kuma-gui/src/app/kuma/locales/en-us/index.yaml
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
  packages/kuma-gui/src/app/x/components/x-timespan/README.md
  packages/kuma-gui/src/app/x/components/x-timespan/XTimespan.vue
  packages/kuma-gui/src/app/x/index.ts
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zones/views/ZoneDetailView.vue
  packages/kuma-gui/src/assets/styles/main.scss
Due: make -j2 lint/script, make lint/css, make lint/lock

i18n some things
  packages/kuma-gui/src/app/connections/locales/en-us/index.yaml
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/kuma/locales/en-us/index.yaml
Due: make -j2 lint/script, make lint/css

Update packages/kuma-gui/src/app/x/components/x-teleport/XTeleportTemplate.vue
  packages/kuma-gui/src/app/x/components/x-teleport/XTeleportTemplate.vue
Due: make -j2 lint/script, make lint/css

add fake cert
  packages/kuma-gui/src/test-support/FakeKuma.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/xds.ts
Due: make -j2 lint/script

make tertiary nav test stable
  packages/kuma-gui/features/application/MainNavigation.feature
Due: none

refactor(meshes): refactor meshes to use our newer patterns
  packages/kuma-gui/features/application/Loading.feature
  packages/kuma-gui/src/app/application/components/app-collection/AppCollection.vue
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
  packages/kuma-gui/src/app/meshes/views/MeshListView.vue
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
Due: make -j2 lint/script, make lint/css

feature: enable delayed teleporting (#3232)
  packages/kuma-gui/src/app/x/components/x-teleport/XTeleportSlot.vue
  packages/kuma-gui/src/app/x/components/x-teleport/XTeleportTemplate.vue
Due: make -j2 lint/script, make lint/css

feature(dataplanes): add filtered XDS config to drawers (#3186)
  packages/config/src/eslint.cjs
  packages/kuma-gui/features/application/MainNavigation.feature
  packages/kuma-gui/src/app/connections/locales/en-us/index.yaml
  packages/kuma-gui/src/app/connections/routes.ts
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/data-planes/data/DataplaneNetworking.ts
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/kuma/locales/en-us/index.yaml
  packages/kuma-gui/src/app/kuma/services/kuma-api/KumaApi.ts
  packages/kuma-gui/src/test-support/FakeKuma.ts
  packages/kuma-gui/src/test-support/fake.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/_overview.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/xds.ts
  packages/kuma-gui/src/test-support/mocks/src/zone-ingresses/_/_overview.ts
Due: make -j2 lint/script, make lint/css

fix(zones): correct text of Zone CP empty state (#3220)
  packages/kuma-gui/src/app/meshes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zones/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zones/views/ZoneListView.vue
Due: make -j2 lint/script, make lint/css

fix: Use XAction for docs links (#3219)
  packages/kuma-gui/src/app/application/components/app-view/AppView.vue
  packages/kuma-gui/src/app/x/components/x-action/XAction.vue
Due: make -j2 lint/script, make lint/css

refactor(meshes): refactor meshes to use our newer patterns (#3233)
  packages/kuma-gui/features/application/Loading.feature
  packages/kuma-gui/src/app/application/components/app-collection/AppCollection.vue
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
  packages/kuma-gui/src/app/meshes/views/MeshListView.vue
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
Due: make -j2 lint/script, make lint/css

fix(dataplanes): correct MeshService regexp based matching (#3240)
  packages/kuma-gui/features/mesh/dataplanes/overview/ClusterNames.feature
  packages/kuma-gui/src/app/connections/data/index.ts
Due: make -j2 lint/script

fix(dataplanes): Correct Dataplane Inbound cluster tab filter
  packages/kuma-gui/cypress/support/step_definitions/index.ts
  packages/kuma-gui/features/mesh/dataplanes/overview/summary/Clusters.feature
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  packages/kuma-gui/src/app/data-planes/sources.ts
Due: make -j2 lint/script, make lint/css

don't use servicePort for an inbound, we are interested in proxies port
  packages/kuma-gui/src/app/data-planes/data/DataplaneNetworking.ts
Due: make -j2 lint/script

fix(dataplanes): Correct Dataplane Inbound cluster tab filter (#3239)
  packages/kuma-gui/cypress/support/step_definitions/index.ts
  packages/kuma-gui/features/mesh/dataplanes/overview/summary/Clusters.feature
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  packages/kuma-gui/src/app/data-planes/data/DataplaneNetworking.ts
  packages/kuma-gui/src/app/data-planes/sources.ts
Due: make -j2 lint/script, make lint/css

chore: lint package.json versions to only allow caret semvers
  package-lock.json
  packages/config/package.json
  packages/config/src/eslint.cjs
  packages/config/src/package.schema.json
  packages/kuma-gui/mk/check.mk
  packages/kuma-gui/package.json
Due: make lint/lock

deps and devDeps = caretOrWorkspace, peers = non-exact
  packages/config/src/package.schema.json
Due: none

make it possible to easily extend ignored packages
  packages/config/src/eslint.cjs
  packages/config/src/package.schema.json
Due: none

Update packages/config/src/package.schema.json
  packages/config/src/package.schema.json
Due: none

fix: Use CSS for decoration, fixes CodeQL error
  packages/kuma-gui/src/app/common/TagList.vue
  packages/kuma-gui/src/test-support/FakeKuma.ts
Due: make -j2 lint/script, make lint/css

fix: Use CSS for decoration, fixes CodeQL error with TagList (#3261)
  packages/kuma-gui/src/app/common/TagList.vue
  packages/kuma-gui/src/test-support/FakeKuma.ts
Due: make -j2 lint/script, make lint/css

fix(app-shell): duplicate slot notifications
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

chore: lint package.json versions to only allow caret semvers (#3235)
  package-lock.json
  packages/config/package.json
  packages/config/src/eslint.cjs
  packages/config/src/package.schema.json
  packages/kuma-gui/mk/check.mk
  packages/kuma-gui/package.json
Due: make lint/lock

fix(app-shell): duplicate slot notifications (#3262)
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

chore: add automatic routeName
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/subscriptions/routes.ts
Due: make -j2 lint/script

chore: Formalize 'route walkers' a little more
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/vue/index.ts
Due: make -j2 lint/script

return early
  packages/kuma-gui/src/app/application/index.ts
Due: make -j2 lint/script

chore(dataplanes): move envoy related sources to connections
  packages/kuma-gui/src/app/connections/sources.ts
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneClustersView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneStatsView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneXdsConfigView.vue
Due: make -j2 lint/script, make lint/css

chore: update owners
  OWNERS.md
Due: none

refactor(dataplane-summary-view): remove tab navigation
  packages/kuma-gui/features/mesh/dataplanes/DataplaneSummary.feature
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryView.vue
Due: make -j2 lint/script, make lint/css

ci(syft): don't include github actions in SBOM
  .syft.yaml
Due: none

refactor(dataplane-summary-view): remove tab navigation (#3267)
  packages/kuma-gui/features/mesh/dataplanes/DataplaneSummary.feature
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryView.vue
Due: make -j2 lint/script, make lint/css

fix(ci/sbom): fix SBOM generation by pruning invalid peerDependencies
  .github/workflows/release.yml
  packages/kuma-gui/Makefile
  packages/kuma-gui/mk/release.mk
Due: none

chore: small improvements in comment
  .github/workflows/release.yml
  packages/kuma-gui/mk/release.mk
Due: none

Path conditions:
  make -j2 lint/script: any of: *.{js,ts,vue}
  make lint/css: any of: *.{css,scss,vue}
  make lint/lock: any of: package-lock.json
