Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

feature(meshservice): add mesh service listing and summary panel
  features/application/Titles.feature
  features/mesh/services/mesh-services/Index.feature
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/services/data/index.ts
  src/app/services/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/sources.ts
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/services/kuma-api/KumaApi.ts
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
  src/types/index.d.ts
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore: add eslint prod config (#2545)
  .eslintrc.cjs
  .eslintrc.production.cjs
  .github/workflows/main.yml
  .husky/pre-commit
  .lintstagedrc.json
  package-lock.json
  package.json
  src/app/x/index.ts
Due: eslint --config .eslintrc.production.cjs --fix

feat(meshservice): add mesh service listing and summary panel (#2546)
  features/application/Titles.feature
  features/mesh/services/mesh-services/Index.feature
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/services/data/index.ts
  src/app/services/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/sources.ts
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/services/kuma-api/KumaApi.ts
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
  src/types/index.d.ts
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

feat(meshservice): add namespace column to listing
  src/app/services/data/index.ts
  src/app/services/views/MeshServiceListView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

fix: mesh-services browser test
  features/mesh/services/mesh-services/Index.feature
Due: none

chore(meshservice): add feature flag for meshservice
  src/app/application/index.ts
  src/app/services/features.ts
  src/app/services/index.ts
  src/app/services/routes.ts
  src/services/env/Env.ts
Due: eslint --config .eslintrc.production.cjs --fix

Make sure the test knows about the types...
  src/services/env/env.spec.ts
Due: eslint --config .eslintrc.production.cjs --fix

chore(meshservice): add feature flag for meshservice (#2562)
  src/app/application/index.ts
  src/app/services/features.ts
  src/app/services/index.ts
  src/app/services/routes.ts
  src/services/env/Env.ts
  src/services/env/env.spec.ts
Due: eslint --config .eslintrc.production.cjs --fix

chore(deps): upgrade kongponents
  package-lock.json
  package.json
Due: none

Revert fix: mesh-services browser test
  features/mesh/services/mesh-services/Index.feature
Due: none

fix: typo mesh-services browser test
  features/mesh/services/mesh-services/Index.feature
Due: none

feat: create id from name.namespace as service param
  src/app/services/data/index.ts
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

feat(meshservice): add namespace column to listing (#2561)
  features/mesh/services/mesh-services/Index.feature
  src/app/services/data/index.ts
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore(deps): upgrade kongponents (#2563)
  package-lock.json
  package.json
Due: none

fix(onboarding): replaces KPops with SVG titles in onboarding (#2559)
  src/app/onboarding/components/graphs/KubernetesGraph.vue
  src/app/onboarding/components/graphs/MemoryGraph.vue
  src/app/onboarding/components/graphs/MultizoneGraph.vue
  src/app/onboarding/components/graphs/PostgresGraph.vue
  src/app/onboarding/components/graphs/StandaloneGraph.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore(onboarding): use OnboardingIcon for kuma icon in graphs
  src/app/onboarding/components/OnboardingIcon.vue
  src/app/onboarding/components/graphs/KubernetesGraph.vue
  src/app/onboarding/components/graphs/MemoryGraph.vue
  src/app/onboarding/components/graphs/MultizoneGraph.vue
  src/app/onboarding/components/graphs/PostgresGraph.vue
  src/app/onboarding/components/graphs/StandaloneGraph.vue
  src/app/onboarding/index.ts
  src/app/onboarding/views/OnboardingConfigurationTypesView.vue
  src/app/onboarding/views/OnboardingDeploymentTypesView.vue
  src/components/index.ts
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore(onboarding): use OnboardingIcon for kuma icon in graphs (#2566)
  src/app/onboarding/components/OnboardingIcon.vue
  src/app/onboarding/components/graphs/KubernetesGraph.vue
  src/app/onboarding/components/graphs/MemoryGraph.vue
  src/app/onboarding/components/graphs/MultizoneGraph.vue
  src/app/onboarding/components/graphs/PostgresGraph.vue
  src/app/onboarding/components/graphs/StandaloneGraph.vue
  src/app/onboarding/index.ts
  src/app/onboarding/views/OnboardingConfigurationTypesView.vue
  src/app/onboarding/views/OnboardingDeploymentTypesView.vue
  src/components/index.ts
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore(docs): add tldr page plus expands on docs linked from tldr
  .vitepress/config.ts
  .vitepress/theme/style.css
  docs/tldr.md
  src/app/application/components/app-view/README.md
  src/app/application/components/data-source/README.md
  src/app/application/components/route-view/README.md
  stylelint.config.cjs
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

fix: Ensure route.active doesn't force a page re-render
  src/app/application/components/route-view/RouteView.vue
  src/app/connections/views/ConnectionInboundSummaryView.vue
  src/app/connections/views/ConnectionOutboundSummaryView.vue
  src/app/data-planes/views/DataPlaneDetailTabsView.vue
  src/app/external-services/views/ExternalServiceDetailTabsView.vue
  src/app/gateways/views/BuiltinGatewayDetailTabsView.vue
  src/app/gateways/views/DelegatedGatewayDetailTabsView.vue
  src/app/gateways/views/GatewayListTabsView.vue
  src/app/meshes/views/MeshDetailTabsView.vue
  src/app/services/views/ServiceDetailTabsView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/zone-egresses/views/ZoneEgressDetailTabsView.vue
  src/app/zone-ingresses/views/ZoneIngressDetailTabsView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore: add XCopyButton component (#2531)
  src/app/application/components/debug-k-clipboard-provider/DebugKClipboardProvider.vue
  src/app/application/components/debug-k-clipboard-provider/README.md
  src/app/common/TextWithCopyButton.vue
  src/app/common/code-block/ResourceCodeBlock.vue
  src/app/meshes/views/MeshDetailTabsView.vue
  src/app/x/components/x-copy-button/README.md
  src/app/x/components/x-copy-button/XCopyButton.vue
  src/app/x/components/x-copy-button/XCopyButtonDebug.vue
  src/app/x/components/x-icon/XIcon.vue
  src/app/x/index.ts
  src/services/development.ts
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

fix: Ensure route.active doesn't force a page re-render (#2581)
  src/app/application/components/route-view/RouteView.vue
  src/app/connections/views/ConnectionInboundSummaryView.vue
  src/app/connections/views/ConnectionOutboundSummaryView.vue
  src/app/data-planes/views/DataPlaneDetailTabsView.vue
  src/app/external-services/views/ExternalServiceDetailTabsView.vue
  src/app/gateways/views/BuiltinGatewayDetailTabsView.vue
  src/app/gateways/views/DelegatedGatewayDetailTabsView.vue
  src/app/gateways/views/GatewayListTabsView.vue
  src/app/meshes/views/MeshDetailTabsView.vue
  src/app/services/views/ServiceDetailTabsView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/zone-egresses/views/ZoneEgressDetailTabsView.vue
  src/app/zone-ingresses/views/ZoneIngressDetailTabsView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore: remove split linting
  .eslintrc.cjs
  .eslintrc.production.cjs
  .github/workflows/main.yml
  .lintstagedrc.json
  cypress.config.ts
  mk/check.mk
  src/app/x/components/x-copy-button/XCopyButtonDebug.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

refactor(policies/PolicySummaryView): use PolicySummary and PolicySummaryTitle components
  src/app/policies/views/PolicySummaryView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

feat(policies/components): create PolicySummary, -Title
  src/app/policies/components/PolicySummary.vue
  src/app/policies/components/PolicySummaryTitle.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

feat(rules/RuleList): on policy-type navigate to data-plane-policy-summary-view
  src/app/rules/components/RuleList.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

feat(data-planes): add and use nested DataPlanePoliciesSummaryView
  src/app/data-planes/routes.ts
  src/app/data-planes/views/DataPlanePoliciesView.vue
  src/app/data-planes/views/DataPlanePolicySummaryView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore(features/mesh/dataplanes): add tests for nested summary view
  features/mesh/dataplanes/DataplanePolicies.feature
  features/mesh/dataplanes/DataplanePolicySummary.feature
Due: none

fix(features/mesh/dataplanes/DataplanePolicySummary): remove empty environment description
  features/mesh/dataplanes/DataplanePolicySummary.feature
Due: none

refactor(data-planes,policies/PolicySummaryView): remove and replace shared PolicySummaryTitle component
  src/app/data-planes/views/DataPlanePolicySummaryView.vue
  src/app/policies/components/PolicySummaryTitle.vue
  src/app/policies/views/PolicySummaryView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

refactor(data-planes/DataPlanePoliciesView): remove nested route params, use route.child, relocate and duplicate nested route SummaryView
  src/app/data-planes/views/DataPlanePoliciesView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore: remove split linting (#2582)
  .eslintrc.cjs
  .eslintrc.production.cjs
  .github/workflows/main.yml
  .lintstagedrc.json
  cypress.config.ts
  mk/check.mk
  src/app/x/components/x-copy-button/XCopyButtonDebug.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

feat(meshservice): adds MeshService detail page
  features/mesh/services/mesh-services/Index.feature
  src/app/services/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/views/MeshServiceConfigView.vue
  src/app/services/views/MeshServiceDetailTabsView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
  src/types/index.d.ts
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

Make a specific `dpp/for/mesh-service` source
  src/app/data-planes/sources.ts
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/ServiceDetailView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore: adds better inline type documentation
  .github/workflows/main.yml
  mk/install.mk
  mk/test.mk
  tsconfig.json
Due: none

Add some output of status: addresses and vips
  src/app/services/data/index.ts
  src/app/services/views/MeshServiceDetailTabsView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
  src/types/index.d.ts
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

fix(zones): include zone name in the breadcrumbs for zone proxies
  src/app/zone-egresses/views/ZoneEgressDetailTabsView.vue
  src/app/zone-ingresses/views/ZoneIngressDetailTabsView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore(deps): upgrade kongponents
  package-lock.json
  package.json
  src/app/kuma/components/ApplicationShell.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zones/views/ZoneListView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

chore(deps): upgrade kongponents (#2583)
  package-lock.json
  package.json
  src/app/kuma/components/ApplicationShell.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zones/views/ZoneListView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

refactor(data-planes/DataPlanePoliciesView): remove duplication of nested SummaryView, set route condition on SummaryView
  src/app/data-planes/views/DataPlanePoliciesView.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

feat(data-planes): add and use nested DataPlanePoliciesSummaryView (#2565)
  features/mesh/dataplanes/DataplanePolicies.feature
  features/mesh/dataplanes/DataplanePolicySummary.feature
  src/app/data-planes/routes.ts
  src/app/data-planes/views/DataPlanePoliciesView.vue
  src/app/data-planes/views/DataPlanePolicySummaryView.vue
  src/app/policies/components/PolicySummary.vue
  src/app/policies/views/PolicySummaryView.vue
  src/app/rules/components/RuleList.vue
Due: eslint --config .eslintrc.production.cjs --fix, stylelint --allow-empty-input --fix

Path conditions:
  eslint --config .eslintrc.production.cjs --fix: any of: *.{js,ts,vue}
  stylelint --allow-empty-input --fix: any of: *.{css,scss,vue}
