Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint/js, make lint/css, make lint/lock

chore(ci): Move package scripts to Makefiles
  .github/workflows/main.yml
  .lintstagedrc.json
  mk/build.mk
  mk/check.mk
  mk/install.mk
  mk/run.mk
  mk/test.mk
  package.json
  src/test-support/FakeKuma.ts
Due: make lint/js

chore: Remove old uniqueId from @/utilities
  src/app/common/filter-bar/FilterBar.vue
  src/utilities/uniqueId.ts
Due: make lint/js, make lint/css

chore: expose fetch-like function from RestClient (#2695)
  src/services/kuma-api/RestClient.ts
Due: make lint/js

chore: Remove ResourceDateStatus component (#2696)
  src/app/common/ResourceDateStatus.vue
Due: make lint/js, make lint/css

refactor(control-planes): use DataCollection for CP detail page (#2699)
  features/main-overview/DetailViewContent.feature
  src/app/common/EmptyBlock.vue
  src/app/control-planes/views/ControlPlaneDetailView.vue
  src/app/meshes/components/MeshInsightsList.vue
  src/app/meshes/locales/en-us/index.yaml
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/locales/en-us/index.yaml
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/mesh-insights.ts
  src/test-support/mocks/src/mesh-insights/_.ts
Due: make lint/js, make lint/css

chore(zones): add k8s/universal icons to zone rows instead of type
  features/zones/zone-cps/Index.feature
  src/app/x/components/x-icon/XIcon.vue
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

Remove special width rules from AppCollection
  src/app/application/components/app-collection/AppCollection.vue
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

chore: creation of 'service-mesh' module
  src/app/application/index.ts
  src/app/kuma/index.ts
  src/app/service-mesh/index.ts
  src/app/x/index.ts
  src/main.ts
  src/services/index.ts
  src/services/production.ts
  src/services/tokens.ts
  src/utilities/index.ts
  test-support/main.ts
Due: make lint/js

chore: Remove old uniqueId from @/utilities (#2700)
  src/app/common/filter-bar/FilterBar.vue
  src/utilities/uniqueId.ts
Due: make lint/js, make lint/css

chore(ci): Move package scripts to Makefiles (#2691)
  .github/workflows/main.yml
  .lintstagedrc.json
  mk/build.mk
  mk/check.mk
  mk/install.mk
  mk/run.mk
  mk/test.mk
  package.json
  src/test-support/FakeKuma.ts
Due: make lint/js

chore: change netlify script to use Makefile
  DEVELOPER.md
  netlify.toml
  package.json
Due: none

chore: creation of 'service-mesh' module (#2698)
  src/app/application/index.ts
  src/app/kuma/index.ts
  src/app/service-mesh/index.ts
  src/app/x/index.ts
  src/main.ts
  src/services/index.ts
  src/services/production.ts
  src/services/tokens.ts
  src/utilities/index.ts
  test-support/main.ts
Due: make lint/js

chore: add extra error handling
  src/app/application/index.ts
  src/app/application/services/data-source/DataSourcePool.ts
  src/app/kuma/index.ts
Due: make lint/js

chore: remove some old, unused env vars
  .env
  src/shims-env.d.ts
Due: make lint/js

chore(zones): add new `zones-crud` module
  src/app/control-planes/views/ControlPlaneDetailView.vue
  src/app/zones-crud/components/ZoneControlPlanesListWithCreate.vue
  src/app/zones-crud/components/ZoneCreateKubernetesInstructions.vue
  src/app/zones-crud/components/ZoneCreateUniversalInstructions.vue
  src/app/zones-crud/features.ts
  src/app/zones-crud/index.ts
  src/app/zones-crud/locales/en-us/index.yaml
  src/app/zones-crud/routes.ts
  src/app/zones-crud/sources.ts
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/features.ts
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/routes.ts
  src/locales/en-us/index.ts
  src/main.ts
Due: make lint/js, make lint/css

chore(zones): add new `zones-crud` module (#2702)
  src/app/control-planes/views/ControlPlaneDetailView.vue
  src/app/zones-crud/components/ZoneControlPlanesListWithCreate.vue
  src/app/zones-crud/components/ZoneCreateKubernetesInstructions.vue
  src/app/zones-crud/components/ZoneCreateUniversalInstructions.vue
  src/app/zones-crud/features.ts
  src/app/zones-crud/index.ts
  src/app/zones-crud/locales/en-us/index.yaml
  src/app/zones-crud/routes.ts
  src/app/zones-crud/sources.ts
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/features.ts
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/routes.ts
  src/locales/en-us/index.ts
  src/main.ts
Due: make lint/js, make lint/css

chore: remove sub-titling across the application
  src/app/application/components/app-view/AppView.vue
  src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  src/app/data-planes/views/DataPlaneClustersView.vue
  src/app/data-planes/views/DataPlaneConfigView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/data-planes/views/DataPlanePoliciesView.vue
  src/app/data-planes/views/DataPlaneStatsView.vue
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/views/BuiltinGatewayConfigView.vue
  src/app/gateways/views/GatewayListTabsView.vue
  src/app/policies/locales/en-us/index.yaml
  src/app/policies/views/PolicyDetailConfigView.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyTypeListView.vue
  src/app/services/views/MeshExternalServiceConfigView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshServiceConfigView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/services/views/ServiceListView.vue
  src/app/zone-egresses/views/ZoneEgressClustersView.vue
  src/app/zone-egresses/views/ZoneEgressConfigView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-egresses/views/ZoneEgressStatsView.vue
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressClustersView.vue
  src/app/zone-ingresses/views/ZoneIngressConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zone-ingresses/views/ZoneIngressStatsView.vue
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
  src/app/zones/views/ZoneConfigView.vue
Due: make lint/js, make lint/css

chore(zones): add k8s/universal icons to zone rows instead of type (#2676)
  features/zones/zone-cps/Index.feature
  src/app/application/components/app-collection/AppCollection.vue
  src/app/x/components/x-icon/XIcon.vue
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

WIP
  features/zones/zone-cps/Warnings.feature
  src/app/control-planes/sources.ts
  src/app/zones/data/index.ts
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/views/ZoneConfigView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/app/zones/views/ZoneDetailView.vue
  src/app/zones/views/ZoneListView.vue
  src/locales/en-us/common/index.yaml
Due: make lint/js, make lint/css

chore: remove "Go to details" add action dropdown to all rows
  src/app/application/components/app-collection/AppCollection.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/gateways/views/GatewayListTabsView.vue
  src/app/kuma/components/ApplicationShell.vue
  src/app/meshes/views/MeshListView.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/policies/views/PolicyTypeListView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/services/views/ServiceListView.vue
  src/app/x/components/x-action-group/XActionGroup.vue
  src/app/x/components/x-action/XAction.vue
  src/app/x/components/x-icon/XIcon.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

WIP
  .eslintrc.cjs
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/data-source/DataSink.vue
  src/app/application/components/route-view/RouteView.vue
  src/app/application/index.ts
  src/app/me/sources.ts
  src/app/meshes/views/MeshListView.vue
Due: make lint/js, make lint/css

feat: add resizable table columns (#2625)
  .eslintrc.cjs
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/data-source/DataSink.vue
  src/app/application/components/route-view/RouteView.vue
  src/app/application/index.ts
  src/app/me/sources.ts
  src/app/meshes/views/MeshListView.vue
Due: make lint/js, make lint/css

chore: remove some old, unused env vars (#2709)
  .env
  src/shims-env.d.ts
Due: make lint/js

chore: remove sub-titling across the application (#2710)
  src/app/application/components/app-view/AppView.vue
  src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  src/app/data-planes/views/DataPlaneClustersView.vue
  src/app/data-planes/views/DataPlaneConfigView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/data-planes/views/DataPlanePoliciesView.vue
  src/app/data-planes/views/DataPlaneStatsView.vue
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/views/BuiltinGatewayConfigView.vue
  src/app/gateways/views/GatewayListTabsView.vue
  src/app/policies/locales/en-us/index.yaml
  src/app/policies/views/PolicyDetailConfigView.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyTypeListView.vue
  src/app/services/views/MeshExternalServiceConfigView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshServiceConfigView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/services/views/ServiceListView.vue
  src/app/zone-egresses/views/ZoneEgressClustersView.vue
  src/app/zone-egresses/views/ZoneEgressConfigView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-egresses/views/ZoneEgressStatsView.vue
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressClustersView.vue
  src/app/zone-ingresses/views/ZoneIngressConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zone-ingresses/views/ZoneIngressStatsView.vue
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
  src/app/zones/views/ZoneConfigView.vue
Due: make lint/js, make lint/css

chore: rollout table column resizing everywhere
  src/app/application/components/route-view/RouteView.vue
  src/app/control-planes/views/ControlPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/me/sources.ts
  src/app/meshes/components/MeshInsightsList.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/policies/views/PolicyTypeListView.vue
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/services/views/ServiceListView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

Make storage prefix injectable
  src/app/application/index.ts
  src/app/kuma/index.ts
  src/app/me/index.ts
  src/app/me/sources.ts
Due: make lint/js

chore: rollout table column resizing everywhere (#2727)
  src/app/application/components/route-view/RouteView.vue
  src/app/application/index.ts
  src/app/control-planes/views/ControlPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/kuma/index.ts
  src/app/me/index.ts
  src/app/me/sources.ts
  src/app/meshes/components/MeshInsightsList.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/policies/views/PolicyTypeListView.vue
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/services/views/ServiceListView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zones/components/ZoneControlPlanesList.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

fix(zones): use the same version from the DataSource used in the page instead of the env var (#2712)
  features/zones/zone-cps/Warnings.feature
  src/app/control-planes/sources.ts
  src/app/zones/data/index.ts
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/views/ZoneConfigView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/app/zones/views/ZoneDetailView.vue
  src/app/zones/views/ZoneListView.vue
  src/locales/en-us/common/index.yaml
Due: make lint/js, make lint/css

WIP
  cypress/main.ts
  cypress/services.ts
  cypress/support/step_definitions/index.ts
  features/application/MainNavigation.feature
  src/app/application/debug.ts
  src/app/fake-fs/index.ts
  src/app/kuma/debug.ts
  src/app/msw/index.ts
  src/app/x/debug.ts
  src/main.ts
  src/services/development.ts
  src/test-support/index.ts
  src/test-support/intercept.ts
  src/test-support/vite.ts
Due: make lint/js

chore: Move development container into its separate modules (#2729)
  cypress/main.ts
  cypress/services.ts
  cypress/support/step_definitions/index.ts
  features/application/MainNavigation.feature
  src/app/application/debug.ts
  src/app/fake-fs/index.ts
  src/app/kuma/debug.ts
  src/app/msw/index.ts
  src/app/x/debug.ts
  src/main.ts
  src/services/development.ts
  src/test-support/index.ts
  src/test-support/intercept.ts
  src/test-support/vite.ts
Due: make lint/js

chore: add extra error handling (#2708)
  src/app/application/index.ts
  src/app/application/services/data-source/DataSourcePool.ts
  src/app/kuma/index.ts
Due: make lint/js

chore: XAction and XActionGroup improvements
  .vitepress/theme/components/Story.vue
  .vitepress/theme/main.md
  src/app/x/components/x-action-group/README.md
  src/app/x/components/x-action-group/XActionGroup.vue
  src/app/x/components/x-action/README.md
  src/app/x/components/x-action/XAction.vue
  src/app/x/components/x-icon/XIcon.vue
  src/app/x/components/x-provider/README.md
  src/app/x/components/x-provider/XProvider.vue
  src/app/x/index.ts
  src/app/zones-crud/components/ZoneControlPlanesListWithCreate.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

chore: Converts OnboardingAlert to use DataSource/Sink
  src/app/onboarding/components/OnboardingAlert.vue
  src/utilities/ClientStorage.ts
Due: make lint/js, make lint/css

chore: XAction and XActionGroup improvements (#2741)
  .vitepress/theme/components/Story.vue
  .vitepress/theme/main.md
  src/app/x/components/x-action-group/README.md
  src/app/x/components/x-action-group/XActionGroup.vue
  src/app/x/components/x-action/README.md
  src/app/x/components/x-action/XAction.vue
  src/app/x/components/x-icon/XIcon.vue
  src/app/x/components/x-provider/README.md
  src/app/x/components/x-provider/XProvider.vue
  src/app/x/index.ts
  src/app/zones-crud/components/ZoneControlPlanesListWithCreate.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

Path conditions:
  make lint/js: any of: *.{js,ts,vue}
  make lint/css: any of: *.{css,scss,vue}
  make lint/lock: any of: package-lock.json
