Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make lint/js, make lint/css, make lint/lock

chore: remove EnvoyData component
  src/app/common/code-block/EnvoyData.vue
  src/app/data-planes/views/DataPlaneClustersView.vue
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/x/components/x-action/XAction.vue
  src/app/x/components/x-icon/XIcon.vue
  src/app/zone-egresses/views/ZoneEgressClustersView.vue
  src/app/zone-egresses/views/ZoneEgressStatsView.vue
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressClustersView.vue
  src/app/zone-ingresses/views/ZoneIngressStatsView.vue
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
Due: make lint/js, make lint/css

chore(services): Switches MeshService to use OpenAPI specs
  .eslintrc.cjs
  mk/build.mk
  package-lock.json
  package.json
  src/app/application/index.ts
  src/app/common/code-block/ResourceCodeBlock.vue
  src/app/kuma/services/kuma-api/Api.ts
  src/app/services/data/MeshExternalService.ts
  src/app/services/data/MeshService.ts
  src/app/services/data/index.ts
  src/app/services/sources.ts
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/types/auto-generated.d.ts
Due: make lint/js, make lint/css, make lint/lock

refactor: Change remaining DataSource/Error/Loading's to use DataLoader
  src/app/data-planes/views/DataPlaneConfigView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/external-services/views/ExternalServiceDetailView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/views/BuiltinGatewayConfigView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/zone-egresses/locales/en-us/index.yaml
  src/app/zone-egresses/views/ZoneEgressConfigView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/locales/en-us/index.yaml
  src/app/zone-ingresses/views/ZoneIngressConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
Due: make lint/js, make lint/css

chore: remove EnvoyData component (#2747)
  src/app/common/code-block/EnvoyData.vue
  src/app/data-planes/views/DataPlaneClustersView.vue
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/x/components/x-action/XAction.vue
  src/app/x/components/x-icon/XIcon.vue
  src/app/zone-egresses/views/ZoneEgressClustersView.vue
  src/app/zone-egresses/views/ZoneEgressStatsView.vue
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressClustersView.vue
  src/app/zone-ingresses/views/ZoneIngressStatsView.vue
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
Due: make lint/js, make lint/css

refactor: Change remaining DataSource/Error/Loading's to use DataLoader (#2749)
  src/app/data-planes/views/DataPlaneConfigView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/external-services/views/ExternalServiceDetailView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/views/BuiltinGatewayConfigView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/zone-egresses/locales/en-us/index.yaml
  src/app/zone-egresses/views/ZoneEgressConfigView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/locales/en-us/index.yaml
  src/app/zone-ingresses/views/ZoneIngressConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
Due: make lint/js, make lint/css

chore: Converts OnboardingAlert to use DataSource/DataSink (#2745)
  src/app/onboarding/components/OnboardingAlert.vue
  src/utilities/ClientStorage.ts
Due: make lint/js, make lint/css

chore: Adds intro sentences to listing pages
  src/app/application/components/app-view/AppView.vue
  src/app/data-planes/locales/en-us/index.yaml
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/external-services/views/ExternalServiceDetailTabsView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/locales/en-us/index.yaml
  src/app/gateways/views/BuiltinGatewayDetailTabsView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/app/gateways/views/DelegatedGatewayDetailTabsView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/gateways/views/GatewayListTabsView.vue
  src/app/meshes/locales/en-us/index.yaml
  src/app/meshes/views/MeshDetailView.vue
  src/app/meshes/views/MeshListView.vue
  src/app/services/locales/en-us/index.yaml
  src/app/services/views/MeshExternalServiceDetailTabsView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshServiceDetailTabsView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/ServiceDetailTabsView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/services/views/ServiceListView.vue
  src/app/x/components/x-action/XAction.vue
  src/app/zone-egresses/locales/en-us/index.yaml
  src/app/zone-egresses/views/ZoneEgressDetailTabsView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/locales/en-us/index.yaml
  src/app/zone-ingresses/views/ZoneIngressDetailTabsView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/views/ZoneDetailView.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

chore(services): Switches MeshService/MeshExternalService to use OpenAPI specs (#2748)
  .eslintrc.cjs
  mk/build.mk
  package-lock.json
  package.json
  src/app/application/index.ts
  src/app/common/code-block/ResourceCodeBlock.vue
  src/app/kuma/services/kuma-api/Api.ts
  src/app/services/data/MeshExternalService.ts
  src/app/services/data/MeshService.ts
  src/app/services/data/index.ts
  src/app/services/sources.ts
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/types/auto-generated.d.ts
Due: make lint/js, make lint/css, make lint/lock

chore: Remove/move some unused or little used functions
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/route-view/RouteView.vue
  src/app/application/services/i18n/I18n.ts
  src/app/common/DeleteResourceModal.vue
  src/app/common/EmptyBlock.vue
  src/app/common/ErrorBlock.vue
  src/app/common/StatusBadge.vue
  src/app/common/TagList.vue
  src/app/common/code-block/ResourceCodeBlock.vue
  src/app/data-planes/data/index.ts
  src/app/gateways/components/ListenerRoutes.vue
  src/app/kuma/index.ts
  src/app/meshes/components/MeshStatus.vue
  src/app/onboarding/components/OnboardingAlert.vue
  src/app/onboarding/components/graphs/KubernetesGraph.vue
  src/app/onboarding/components/graphs/MemoryGraph.vue
  src/app/onboarding/components/graphs/MultizoneGraph.vue
  src/app/onboarding/components/graphs/PostgresGraph.vue
  src/app/onboarding/components/graphs/StandaloneGraph.vue
  src/app/onboarding/views/OnboardingConfigurationTypesView.vue
  src/app/policies/components/PolicySummary.vue
  src/app/subscriptions/components/SubscriptionDetails.vue
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/app/zones/views/ZoneListView.vue
  src/utilities/camelCaseToWords.spec.ts
  src/utilities/camelCaseToWords.ts
  src/utilities/getLabels.spec.ts
  src/utilities/getLabels.ts
  src/utilities/index.ts
  src/utilities/isSet.ts
Due: make lint/js, make lint/css

chore: change netlify script to use Makefile (#2707)
  DEVELOPER.md
  netlify.toml
  package.json
Due: none

chore: Remove/move some unused or little used functions (#2744)
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/route-view/RouteView.vue
  src/app/application/services/i18n/I18n.ts
  src/app/common/DeleteResourceModal.vue
  src/app/common/EmptyBlock.vue
  src/app/common/ErrorBlock.vue
  src/app/common/StatusBadge.vue
  src/app/common/TagList.vue
  src/app/common/code-block/ResourceCodeBlock.vue
  src/app/data-planes/data/index.ts
  src/app/gateways/components/ListenerRoutes.vue
  src/app/kuma/index.ts
  src/app/meshes/components/MeshStatus.vue
  src/app/onboarding/components/OnboardingAlert.vue
  src/app/onboarding/components/graphs/KubernetesGraph.vue
  src/app/onboarding/components/graphs/MemoryGraph.vue
  src/app/onboarding/components/graphs/MultizoneGraph.vue
  src/app/onboarding/components/graphs/PostgresGraph.vue
  src/app/onboarding/components/graphs/StandaloneGraph.vue
  src/app/onboarding/views/OnboardingConfigurationTypesView.vue
  src/app/policies/components/PolicySummary.vue
  src/app/subscriptions/components/SubscriptionDetails.vue
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/app/zones/views/ZoneListView.vue
  src/utilities/camelCaseToWords.spec.ts
  src/utilities/camelCaseToWords.ts
  src/utilities/getLabels.spec.ts
  src/utilities/getLabels.ts
  src/utilities/index.ts
  src/utilities/isSet.ts
Due: make lint/js, make lint/css

chore: Adds intro sentences and docs links to listing pages (#2743)
  src/app/application/components/app-view/AppView.vue
  src/app/data-planes/locales/en-us/index.yaml
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/external-services/views/ExternalServiceDetailTabsView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/locales/en-us/index.yaml
  src/app/gateways/views/BuiltinGatewayDetailTabsView.vue
  src/app/gateways/views/BuiltinGatewayListView.vue
  src/app/gateways/views/DelegatedGatewayDetailTabsView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/gateways/views/GatewayListTabsView.vue
  src/app/meshes/locales/en-us/index.yaml
  src/app/meshes/views/MeshDetailView.vue
  src/app/meshes/views/MeshListView.vue
  src/app/services/locales/en-us/index.yaml
  src/app/services/views/MeshExternalServiceDetailTabsView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshServiceDetailTabsView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/ServiceDetailTabsView.vue
  src/app/services/views/ServiceListTabsView.vue
  src/app/services/views/ServiceListView.vue
  src/app/x/components/x-action/XAction.vue
  src/app/zone-egresses/locales/en-us/index.yaml
  src/app/zone-egresses/views/ZoneEgressDetailTabsView.vue
  src/app/zone-egresses/views/ZoneEgressListView.vue
  src/app/zone-ingresses/locales/en-us/index.yaml
  src/app/zone-ingresses/views/ZoneIngressDetailTabsView.vue
  src/app/zone-ingresses/views/ZoneIngressListView.vue
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/views/ZoneDetailView.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

chore: Amend default font-size to be slightly smaller
  src/app/application/components/app-view/AppView.vue
  src/app/kuma/components/ApplicationShell.vue
  src/assets/styles/_base.scss
Due: make lint/js, make lint/css

chore(zones): uses DataSink for creation/deletion
  src/app/application/components/data-source/DataLoader.vue
  src/app/application/components/data-source/DataSink.vue
  src/app/common/DeleteResourceModal.vue
  src/app/common/ErrorBlock.spec.ts
  src/app/common/ErrorBlock.vue
  src/app/x/components/x-prompt/README.md
  src/app/x/components/x-prompt/XPrompt.vue
  src/app/x/index.ts
  src/app/zones-crud/sources.ts
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/app/zones/views/ZoneListView.vue
  src/locales/en-us/common/index.yaml
  src/test-support/index.ts
Due: make lint/js, make lint/css

chore(zones): uses DataSink for creation/deletion (#2746)
  src/app/application/components/data-source/DataLoader.vue
  src/app/application/components/data-source/DataSink.vue
  src/app/common/DeleteResourceModal.vue
  src/app/common/ErrorBlock.spec.ts
  src/app/common/ErrorBlock.vue
  src/app/x/components/x-prompt/README.md
  src/app/x/components/x-prompt/XPrompt.vue
  src/app/x/index.ts
  src/app/zones-crud/sources.ts
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/app/zones/views/ZoneListView.vue
  src/locales/en-us/common/index.yaml
  src/test-support/index.ts
Due: make lint/js, make lint/css

chore: Lint improvements
  .eslintrc.cjs
  .lintstagedrc.json
  mk/check.mk
  package-lock.json
  package.json
Due: make lint/lock

Result of lint/gherkin
  features/application/Loading.feature
  features/application/Titles.feature
  features/application/Upgrade.feature
  features/application/Warnings.feature
  features/diagnostics/DetailViewContent.feature
  features/docs/Index.feature
  features/mesh/Item.feature
  features/mesh/builtin-gateways/Item.feature
  features/mesh/dataplanes/DataplaneDetailsBuiltinGateway.feature
  features/mesh/dataplanes/DataplaneDetailsDelegatedGateway.feature
  features/mesh/dataplanes/DataplaneDetailsStandardProxy.feature
  features/mesh/dataplanes/DataplaneDetailsTraffic.feature
  features/mesh/dataplanes/DataplanePolicies.feature
  features/mesh/dataplanes/DataplanePolicySummary.feature
  features/mesh/dataplanes/DataplaneSummary.feature
  features/mesh/dataplanes/Index.feature
  features/mesh/dataplanes/NoSubscriptions.feature
  features/mesh/dataplanes/Warnings.feature
  features/mesh/dataplanes/overview/Connections.feature
  features/mesh/dataplanes/overview/Inbounds.feature
  features/mesh/delegated-gateways/Item.feature
  features/mesh/external-services/Item.feature
  features/onboarding/Index.feature
  features/onboarding/add-new-services-code/Index.feature
  features/onboarding/add-new-services/Index.feature
  features/onboarding/configuration-types/Index.feature
  features/onboarding/create-mesh/Index.feature
  features/onboarding/dataplanes-overview/Index.feature
  features/onboarding/deployment-types/Index.feature
  features/onboarding/multi-zone/Index.feature
  features/onboarding/welcome/Index.feature
  features/zones/Create.feature
  features/zones/zone-cps/Item.feature
  features/zones/zone-cps/egresses/Index.feature
  features/zones/zone-cps/egresses/Item.feature
  features/zones/zone-cps/egresses/ZoneEgressSummary.feature
  features/zones/zone-cps/ingresses/Index.feature
  features/zones/zone-cps/ingresses/ZoneIngressSummary.feature
  features/zones/zone-cps/ingresses/item/Index.feature
  features/zones/zone-cps/ingresses/item/Services.feature
Due: none

chore: Ensure every listing uses DataCollection
  src/app/meshes/views/MeshListView.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

fix: Alters main menu selection to not cause full re-render
  src/app/App.vue
Due: make lint/js, make lint/css

fix(policies): Ensure visits to /policies are redirected
  features/mesh/policies/Index.feature
  src/app/x/components/x-action/XAction.vue
Due: make lint/js, make lint/css

WIP
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/app-view/AppView.vue
  src/app/application/components/data-source/DataSink.vue
  src/app/common/EmptyBlock.vue
  src/app/data-planes/views/DataPlaneClustersView.vue
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/x/components/x-action/XAction.vue
  src/app/zone-egresses/views/ZoneEgressClustersView.vue
  src/app/zone-egresses/views/ZoneEgressStatsView.vue
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressClustersView.vue
  src/app/zone-ingresses/views/ZoneIngressStatsView.vue
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
  src/app/zones-crud/components/ZoneControlPlanesListWithCreate.vue
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/app/zones/views/ZoneListView.vue
  src/assets/styles/_base.scss
Due: make lint/js, make lint/css

fix(zones): remove ZoneConfig subtitle
  src/app/zones/views/ZoneConfigView.vue
Due: make lint/js, make lint/css

chore(deps): remove semver from package.json
  package-lock.json
  package.json
Due: make lint/lock

chore(deps): remove semver from package.json (#2786)
  package-lock.json
  package.json
Due: make lint/lock

chore(deps): upgrade/dedupe shiki and related
  package-lock.json
Due: make lint/lock

feature(services): initial support for MeshMultiZoneService
  src/app/services/data/MeshMultizoneService.ts
  src/app/services/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/routes.ts
  src/app/services/sources.ts
  src/app/services/views/MeshMultizoneServiceConfigView.vue
  src/app/services/views/MeshMultizoneServiceDetailTabsView.vue
  src/app/services/views/MeshMultizoneServiceDetailView.vue
  src/app/services/views/MeshMultizoneServiceListView.vue
  src/app/services/views/MeshMultizoneServiceSummaryView.vue
  src/app/x/components/x-breadcrumbs/XBreadcrumbs.vue
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices/_.ts
Due: make lint/js, make lint/css

Add MeshService listing to the MeshMultiZoneService detail page
  src/app/services/views/MeshMultizoneServiceDetailView.vue
  src/test-support/mocks/src/meshes/_/meshmultizoneservices.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices/_.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
Due: make lint/js, make lint/css

chore: move locales into their specific modules
  src/app/application/index.ts
  src/app/application/locales/en-us/index.yaml
  src/app/connections/index.ts
  src/app/control-planes/index.ts
  src/app/data-planes/index.ts
  src/app/diagnostics/index.ts
  src/app/external-services/index.ts
  src/app/gateways/index.ts
  src/app/kuma/debug.ts
  src/app/kuma/index.ts
  src/app/kuma/locales/en-us/index.yaml
  src/app/meshes/index.ts
  src/app/onboarding/index.ts
  src/app/policies/index.ts
  src/app/services/index.ts
  src/app/x/index.ts
  src/app/x/locales/en-us/index.yaml
  src/app/zones-crud/index.ts
  src/app/zones/index.ts
  src/locales/en-us/http/index.yaml
  src/locales/en-us/index.ts
  src/main.ts
Due: make lint/js

fix(zones): remove ZoneConfig subtitle (#2774)
  src/app/zones/views/ZoneConfigView.vue
Due: make lint/js, make lint/css

chore(deps): upgrade/dedupe shiki and related (#2787)
  package-lock.json
Due: make lint/lock

fix(policies): Ensure visits to /policies are redirected (#2767)
  features/mesh/policies/Index.feature
  src/app/x/components/x-action/XAction.vue
Due: make lint/js, make lint/css

chore: Amend default font-size to be slightly smaller (#2765)
  src/app/application/components/app-view/AppView.vue
  src/app/kuma/components/ApplicationShell.vue
  src/assets/styles/_base.scss
Due: make lint/js, make lint/css

chore: Ensure every listing uses DataCollection (#2764)
  src/app/meshes/views/MeshListView.vue
  src/app/zones/views/ZoneListView.vue
Due: make lint/js, make lint/css

chore: Various form improvements (#2771)
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/app-view/AppView.vue
  src/app/application/components/data-source/DataSink.vue
  src/app/common/EmptyBlock.vue
  src/app/data-planes/views/DataPlaneClustersView.vue
  src/app/data-planes/views/DataPlaneXdsConfigView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/x/components/x-action/XAction.vue
  src/app/zone-egresses/views/ZoneEgressClustersView.vue
  src/app/zone-egresses/views/ZoneEgressStatsView.vue
  src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  src/app/zone-ingresses/views/ZoneIngressClustersView.vue
  src/app/zone-ingresses/views/ZoneIngressStatsView.vue
  src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
  src/app/zones-crud/components/ZoneControlPlanesListWithCreate.vue
  src/app/zones-crud/views/ZoneCreateView.vue
  src/app/zones/views/ZoneDetailTabsView.vue
  src/app/zones/views/ZoneListView.vue
  src/assets/styles/_base.scss
Due: make lint/js, make lint/css

fix(dataplanes): ensure search parameter is passed to HTTP call
  features/mesh/dataplanes/Index.feature
  src/app/data-planes/views/DataPlaneListView.vue
Due: make lint/js, make lint/css

fix: Alters main menu selection to not cause full re-render (#2766)
  src/app/App.vue
Due: make lint/js, make lint/css

chore: move locales into their specific modules (#2726)
  src/app/application/index.ts
  src/app/application/locales/en-us/index.yaml
  src/app/connections/index.ts
  src/app/control-planes/index.ts
  src/app/data-planes/index.ts
  src/app/diagnostics/index.ts
  src/app/external-services/index.ts
  src/app/gateways/index.ts
  src/app/kuma/debug.ts
  src/app/kuma/index.ts
  src/app/kuma/locales/en-us/index.yaml
  src/app/meshes/index.ts
  src/app/onboarding/index.ts
  src/app/policies/index.ts
  src/app/services/index.ts
  src/app/x/index.ts
  src/app/x/locales/en-us/index.yaml
  src/app/zones-crud/index.ts
  src/app/zones/index.ts
  src/locales/en-us/http/index.yaml
  src/locales/en-us/index.ts
  src/main.ts
Due: make lint/js

chore(zones): add zones to all summary and detail pages
  src/app/data-planes/sources.ts
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneSummaryView.vue
  src/app/policies/components/PolicySummary.vue
  src/app/policies/data/index.ts
  src/app/policies/locales/en-us/index.yaml
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/services/data/MeshExternalService.ts
  src/app/services/data/MeshService.ts
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/mocks/src/meshes/_/meshexternalservices/_.ts
Due: make lint/js, make lint/css

Path conditions:
  make lint/js: any of: *.{js,ts,vue}
  make lint/css: any of: *.{css,scss,vue}
  make lint/lock: any of: package-lock.json
