Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "make -j2 lint/script",
  "*.{css,scss,vue}": "make lint/css",
  "package-lock.json": "make lint/lock"
}

fix(services/routes): add routeName prop for summary view
  packages/kuma-gui/src/app/services/routes.ts
Due: make -j2 lint/script

fix: use prefix for dp summary route name in gateways and services
  packages/kuma-gui/features/mesh/dataplanes/Navigation.feature
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/gateways/routes.ts
  packages/kuma-gui/src/app/services/routes.ts
  packages/kuma-gui/src/app/services/views/MeshServiceDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(x-action-group): dynamic action item width
  packages/kuma-gui/src/app/control-planes/components/ControlPlaneActionGroup.vue
  packages/kuma-gui/src/app/x/components/x-action-group/XActionGroup.vue
Due: make -j2 lint/script, make lint/css

fix(e2e/hostname-generators): breadcrumb not matching code changes
  packages/kuma-gui/features/hostname-generators/Index.feature
Due: none

chore(ci): installs cypress-terminal-report for surfacing console.warns
  package-lock.json
  packages/config/package.json
  packages/config/src/cypress.ts
  packages/kuma-gui/cypress/support/e2e.ts
  packages/kuma-gui/package.json
Due: make -j2 lint/script, make lint/lock

chore(ci): installs cypress-terminal-report for surfacing console.warns (#3210)
  package-lock.json
  packages/config/package.json
  packages/config/src/cypress.ts
  packages/kuma-gui/cypress/support/e2e.ts
  packages/kuma-gui/package.json
Due: make -j2 lint/script, make lint/lock

refactor(data-planes/summary): rename config tab to YAML
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
Due: none

fix(data-planes/routes): config route is taken by details route
  packages/kuma-gui/src/app/data-planes/routes.ts
Due: make -j2 lint/script

fix(data-planes/data/overview): use raw networking from source for config
  packages/kuma-gui/src/app/data-planes/data/DataplaneOverview.ts
Due: make -j2 lint/script

feat(kuma-gui/control-planes): add ControlPlaneActionGroup with link to HostnameGenerators (#3189)
  packages/kuma-gui/features/hostname-generators/Index.feature
  packages/kuma-gui/src/app/control-planes/components/ControlPlaneActionGroup.vue
  packages/kuma-gui/src/app/control-planes/index.ts
  packages/kuma-gui/src/app/control-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/control-planes/views/ControlPlaneDetailView.vue
  packages/kuma-gui/src/app/hostname-generators/locales/en-us/index.yaml
  packages/kuma-gui/src/app/x/components/x-action-group/XActionGroup.vue
Due: make -j2 lint/script, make lint/css

fix(e2e/data-planes-summary): config url not matching implementation
  packages/kuma-gui/features/mesh/dataplanes/DataplaneSummary.feature
Due: none

feat(data-planes/data-plane-summary-view): add config (#3209)
  packages/kuma-gui/features/mesh/dataplanes/DataplaneSummary.feature
  packages/kuma-gui/features/mesh/dataplanes/Navigation.feature
  packages/kuma-gui/src/app/data-planes/data/DataplaneOverview.ts
  packages/kuma-gui/src/app/data-planes/data/index.spec.ts
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryConfigView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryView.vue
  packages/kuma-gui/src/app/gateways/routes.ts
  packages/kuma-gui/src/app/services/routes.ts
  packages/kuma-gui/src/app/services/views/MeshServiceDetailView.vue
Due: make -j2 lint/script, make lint/css

chore(tests): changes cypress to intercept all responses
  packages/kuma-gui/src/test-support/intercept.ts
Due: make -j2 lint/script

refactor(App,ApplicationShell): split nav, move diagnostics to sidebar
  packages/kuma-gui/src/app/App.vue
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

chore(tests): changes cypress to intercept all responses (#3212)
  packages/kuma-gui/src/test-support/intercept.ts
Due: make -j2 lint/script

refactor(app/sidebar): add icons to nav items
  packages/kuma-gui/features/application/MainNavigation.feature
  packages/kuma-gui/src/app/App.vue
  packages/kuma-gui/src/app/application/components/app-navigator/AppNavigator.vue
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
  packages/kuma-gui/src/assets/images/navigation/icon-configuration.svg
  packages/kuma-gui/src/assets/images/navigation/icon-home.svg
  packages/kuma-gui/src/assets/images/navigation/icon-meshes.svg
  packages/kuma-gui/src/assets/images/navigation/icon-rbac.svg
  packages/kuma-gui/src/assets/images/navigation/icon-zone-egresses.svg
  packages/kuma-gui/src/assets/images/navigation/icon-zones.svg
Due: make -j2 lint/script, make lint/css

Revert "chore(tests): changes cypress to intercept all responses (#3212)"
  packages/kuma-gui/src/test-support/intercept.ts
Due: make -j2 lint/script

refactor(app/diagnostics): moved and renamed to configuration
  packages/kuma-gui/features/application/MainNavigation.feature
  packages/kuma-gui/features/application/Titles.feature
  packages/kuma-gui/features/configuration/DetailViewContent.feature
  packages/kuma-gui/src/app/App.vue
  packages/kuma-gui/src/app/configuration/README.md
  packages/kuma-gui/src/app/configuration/index.ts
  packages/kuma-gui/src/app/configuration/locales/en-us/index.yaml
  packages/kuma-gui/src/app/configuration/routes.ts
  packages/kuma-gui/src/app/configuration/views/ConfigurationDetailView.vue
  packages/kuma-gui/src/app/diagnostics/locales/en-us/index.yaml
  packages/kuma-gui/src/app/diagnostics/routes.ts
  packages/kuma-gui/src/main.ts
  packages/kuma-gui/src/test-support/FakeKuma.ts
  packages/kuma-gui/src/test-support/mocks/src/config.ts
  packages/kuma-gui/src/types/config.d.ts
Due: make -j2 lint/script, make lint/css

Revert "chore(tests): changes cypress to intercept all responses #3212" (#3214)
  packages/kuma-gui/src/test-support/intercept.ts
Due: make -j2 lint/script

fix(App): remove unused icon
  packages/kuma-gui/src/app/App.vue
  packages/kuma-gui/src/assets/images/navigation/icon-rbac.svg
Due: make -j2 lint/script, make lint/css

fix(mocks,types): diagnostrics wrongly renamed to configuration
  packages/kuma-gui/src/test-support/FakeKuma.ts
  packages/kuma-gui/src/test-support/mocks/src/config.ts
  packages/kuma-gui/src/types/config.d.ts
Due: make -j2 lint/script

fix(app-navigator): unnecessary vendor prefix
  packages/kuma-gui/src/app/application/components/app-navigator/AppNavigator.vue
Due: make -j2 lint/script, make lint/css

fix(app-shell,app-navigator): align nav links, icons and logo
  packages/kuma-gui/src/app/application/components/app-navigator/AppNavigator.vue
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

fix(e2e): broken format
  packages/kuma-gui/features/application/MainNavigation.feature
  packages/kuma-gui/features/application/Titles.feature
  packages/kuma-gui/features/configuration/DetailViewContent.feature
Due: none

refactor(app/configuration): rename route to configuration-view
  packages/kuma-gui/src/app/App.vue
  packages/kuma-gui/src/app/configuration/routes.ts
Due: make -j2 lint/script, make lint/css

fix(configuration-detail-view): breadcrumbs wrong route name
  packages/kuma-gui/src/app/configuration/views/ConfigurationDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(application-shell): add separator between top and bot nav
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

style(app-navigator): move icons closer to label
  packages/kuma-gui/src/app/application/components/app-navigator/AppNavigator.vue
Due: make -j2 lint/script, make lint/css

refactor(application-shell): use one nav for both nav item lists
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

fix(configuration-detail-view): wrong route name
  packages/kuma-gui/src/app/configuration/views/ConfigurationDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(application-shell): use div instead of aside, color of separator
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
Due: make -j2 lint/script, make lint/css

feature(dataplanes): add filtered XDS config to inbound drawers
  packages/kuma-gui/src/app/connections/locales/en-us/index.yaml
  packages/kuma-gui/src/app/connections/routes.ts
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/data-planes/data/DataplaneNetworking.ts
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/x/components/x-code-block/XCodeBlock.vue
  packages/kuma-gui/src/test-support/FakeKuma.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/_overview.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/xds.ts
Due: make -j2 lint/script, make lint/css

make some amends to the filters
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/kuma/services/kuma-api/KumaApi.ts
  packages/kuma-gui/src/app/x/components/x-code-block/XCodeBlock.vue
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/_overview.ts
Due: make -j2 lint/script, make lint/css

Improve mock
  packages/config/src/eslint.cjs
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/test-support/fake.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/_overview.ts
  packages/kuma-gui/src/test-support/mocks/src/zone-ingresses/_/_overview.ts
Due: make -j2 lint/script

fix: Use XAction for docs links
  packages/kuma-gui/src/app/application/components/app-view/AppView.vue
  packages/kuma-gui/src/app/x/components/x-action/XAction.vue
Due: make -j2 lint/script, make lint/css

fix(zones): correct text of Zone CP empty state
  packages/kuma-gui/src/app/meshes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zones/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zones/views/ZoneListView.vue
Due: make -j2 lint/script, make lint/css

feat: default service hosts to period-delimited
  packages/kuma-gui/src/app/services/data/index.ts
Due: make -j2 lint/script

feature: enable delayed teleporting
  packages/kuma-gui/src/app/x/components/x-teleport/XTeleportSlot.vue
  packages/kuma-gui/src/app/x/components/x-teleport/XTeleportTemplate.vue
Due: make -j2 lint/script, make lint/css

feat: default service hosts to period-delimited (#3222)
  packages/kuma-gui/src/app/services/data/index.ts
Due: make -j2 lint/script

feat: adds XTimespan component
  package-lock.json
  packages/kuma-gui/package.json
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryOverviewView.vue
  packages/kuma-gui/src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  packages/kuma-gui/src/app/kuma/locales/en-us/index.yaml
  packages/kuma-gui/src/app/meshes/views/MeshDetailView.vue
  packages/kuma-gui/src/app/x/components/x-timespan/README.md
  packages/kuma-gui/src/app/x/components/x-timespan/XTimespan.vue
  packages/kuma-gui/src/app/x/index.ts
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zones/views/ZoneDetailView.vue
  packages/kuma-gui/src/assets/styles/main.scss
Due: make -j2 lint/script, make lint/css, make lint/lock
