Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "make -j2 lint/script",
  "*.{css,scss,vue}": "make lint/css",
  "package-lock.json": "make lint/lock"
}

chore: adds aliased XRadio
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script

chore: merges KTruncate into XLayout
  packages/kuma-gui/src/app/data-planes/views/DataPlaneListView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceListView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceSummaryView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceListView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceSummaryView.vue
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
Due: make -j2 lint/script, make lint/css

feature: adds x-progress component
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
  packages/kuma-gui/src/app/common/LoadingBlock.vue
  packages/kuma-gui/src/app/connections/components/connection-traffic/ConnectionCard.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/x/components/x-progress/README.md
  packages/kuma-gui/src/app/x/components/x-progress/XProgress.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

chore: remove forms related CSS (#3315)
  packages/kuma-gui/src/assets/styles/_forms.scss
  packages/kuma-gui/src/assets/styles/main.scss
Due: make lint/css

infer dismissable via existence of @dismiss
  packages/kuma-gui/src/app/onboarding/components/OnboardingAlert.vue
  packages/kuma-gui/src/app/x/components/x-alert/XAlert.vue
Due: make -j2 lint/script, make lint/css

fix: globally fix text color of buttons in alerts (#3323)
  packages/kuma-gui/src/app/application/components/app-view/AppView.vue
  packages/kuma-gui/src/app/common/ErrorBlock.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/kuma/components/ApplicationShell.vue
  packages/kuma-gui/src/app/onboarding/components/OnboardingAlert.vue
  packages/kuma-gui/src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  packages/kuma-gui/src/app/x/components/x-about-card/README.md
  packages/kuma-gui/src/app/x/components/x-alert/README.md
  packages/kuma-gui/src/app/x/components/x-alert/XAlert.vue
  packages/kuma-gui/src/app/x/index.ts
  packages/kuma-gui/src/app/zones/views/ZoneConfigView.vue
Due: make -j2 lint/script, make lint/css

refine empty states
  packages/kuma-gui/src/app/connections/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
Due: make -j2 lint/script, make lint/css

fix: Fixes an issue where DataCollection can cause extra elements (#3326)
  packages/kuma-gui/src/app/application/components/data-collection/DataCollection.vue
Due: make -j2 lint/script, make lint/css

separate active/empty empty states for outbounds
  packages/kuma-gui/src/app/connections/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
Due: make -j2 lint/script, make lint/css

chore: merges KTruncate into XLayout (#3333)
  packages/kuma-gui/src/app/data-planes/views/DataPlaneListView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceListView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceSummaryView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceListView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceSummaryView.vue
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
Due: make -j2 lint/script, make lint/css

chore: adds aliased XRadio (#3332)
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script

feature: adds x-progress component (#3330)
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
  packages/kuma-gui/src/app/common/LoadingBlock.vue
  packages/kuma-gui/src/app/connections/components/connection-traffic/ConnectionCard.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/x/components/x-progress/README.md
  packages/kuma-gui/src/app/x/components/x-progress/XProgress.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

ci(github): use push for dispatching new commits
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci(github): use push for dispatching new commits (#3355)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci(github): [backport/2.9] use push for dispatching new commits (#3355) (#3365)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci(github): [backport/2.8] use push for dispatching new commits (#3355) (#3366)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci(github): [backport/2.7] use push for dispatching new commits (#3355) (#3367)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci(github): [backport/2.6] use push for dispatching new commits (#3355) (#3368)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci(github): [backport/2.5] use push for dispatching new commits (#3355) (#3369)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci(github): [backport/2.4] use push for dispatching new commits (#3355) (#3370)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci(github): [backport/2.3] use push for dispatching new commits (#3355) (#3371)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci(github): [backport/2.2] use push for dispatching new commits (#3355) (#3372)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

feature(zones): adds a traffic view for zone egress (#3325)
  packages/kuma-gui/src/app/connections/locales/en-us/index.yaml
  packages/kuma-gui/src/app/connections/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
Due: make -j2 lint/script, make lint/css

chore(mocks): improves mocking for dataplane.networking (#3327)
  packages/kuma-gui/features/mesh/dataplanes/DataplaneDetailsBuiltinGateway.feature
  packages/kuma-gui/features/mesh/dataplanes/DataplaneDetailsStandardProxy.feature
  packages/kuma-gui/features/mesh/dataplanes/DataplanePolicies.feature
  packages/kuma-gui/src/test-support/FakeKuma.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/_overview.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/policies.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_overview.ts
Due: make -j2 lint/script

ci: remove old notification merge guard
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

ci: remove old notification merge guard (#3374)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

chore(ci): use GITHUB_REF_NAME for dispatch branch
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

chore(ci): use GITHUB_REF_NAME for dispatch branch (#3375)
  .github/workflows/dispatch-merged-pr-notification.yml
Due: none

chore(dataplanes): add bundle downloading functionality
  package-lock.json
  packages/kuma-gui/package.json
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
  packages/kuma-gui/src/app/kuma/services/kuma-api/KumaApi.ts
  packages/kuma-gui/src/app/x/components/x-modal/README.md
  packages/kuma-gui/src/app/x/components/x-modal/XModal.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css, make lint/lock
