Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

chore: remove duplicated "."
  .github/workflows/release.yml
Due: none

ci: comment improvement + don't re-checkout after @kuma/config removal
  .github/workflows/release.yml
  packages/kuma-gui/mk/release.mk
Due: none

fix(release/sbom): fix SBOM generation by removing GitHub actions and incorrectly clasified npm dependencies (#3268)
  .github/workflows/release.yml
  .syft.yaml
  packages/kuma-gui/Makefile
  packages/kuma-gui/mk/release.mk
Due: none

chore: Formalize 'route walkers' a little more
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/vue/index.ts
Due: make -j2 lint/script

chore: add automatic routeName
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/subscriptions/routes.ts
Due: make -j2 lint/script

return early
  packages/kuma-gui/src/app/application/index.ts
Due: make -j2 lint/script

chore: Formalize 'route walkers' a little more (#3221)
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/subscriptions/routes.ts
  packages/kuma-gui/src/app/vue/index.ts
Due: make -j2 lint/script

chore(dataplanes): move envoy related sources to connections (#3265)
  packages/kuma-gui/src/app/connections/sources.ts
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneClustersView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneStatsView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneXdsConfigView.vue
Due: make -j2 lint/script, make lint/css

feat(gateways/builtin-gateway-list-view): add summary drawer with config
  packages/kuma-gui/features/mesh/builtin-gateways/Index.feature
  packages/kuma-gui/src/app/gateways/locales/en-us/index.yaml
  packages/kuma-gui/src/app/gateways/routes.ts
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewayListView.vue
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewaySummaryView.vue
  packages/kuma-gui/src/assets/images/gateway.svg
Due: make -j2 lint/script, make lint/css

refactor(x-icon): use AddCircleIcon
  packages/kuma-gui/src/app/x/components/x-icon/XIcon.vue
Due: make -j2 lint/script, make lint/css

fix: remove underline from KTabs
  packages/kuma-gui/src/app/x/components/x-tabs/XTabs.vue
Due: make -j2 lint/script, make lint/css

fix: remove underline from KTabs (#3292)
  packages/kuma-gui/src/app/x/components/x-tabs/XTabs.vue
Due: make -j2 lint/script, make lint/css

feat: adds XI18n component
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/x/components/x-i18n/README.md
  packages/kuma-gui/src/app/x/components/x-i18n/XI18n.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

feat: adds XI18n component for slot based i18n interpolation (#3293)
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/x/components/x-i18n/README.md
  packages/kuma-gui/src/app/x/components/x-i18n/XI18n.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

fix(test-support): value of PathParam entry is potentially undefined
  packages/kuma-gui/src/test-support/index.ts
Due: make -j2 lint/script

chore(public/msw): update generated msw after version update
  packages/kuma-gui/public/mockServiceWorker.js
Due: make -j2 lint/script

chore(public/msw): update generated msw after version update (#3294)
  packages/kuma-gui/public/mockServiceWorker.js
Due: make -j2 lint/script

chore(deps): bump nanoid to non-vulnerable versions
  package-lock.json
Due: make lint/lock

feat(zones): Add feature flagged zone-ingress traffic view
  packages/kuma-gui/src/app/application/services/env/Env.ts
  packages/kuma-gui/src/app/connections/data/index.ts
  packages/kuma-gui/src/app/connections/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zones/features.ts
Due: make -j2 lint/script, make lint/css

refactor(x-icon): use AddCircleIcon (#3285)
  packages/kuma-gui/src/app/x/components/x-icon/XIcon.vue
Due: make -j2 lint/script, make lint/css

chore(deps): bump nanoid to non-vulnerable versions (#3295)
  package-lock.json
Due: make lint/lock

fix(gateways/builtin/summary-view): inconsistent query search params
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewayListView.vue
Due: make -j2 lint/script, make lint/css

be a bit more intentional about what we filter out
  packages/kuma-gui/src/app/connections/data/index.ts
  packages/kuma-gui/src/app/connections/sources.ts
Due: make -j2 lint/script

fix(gateways/builtin/summary,list): lost query params during navigation
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewayListView.vue
Due: make -j2 lint/script, make lint/css

refactor(gateways/routes): no need to pass routeName manually anymore
  packages/kuma-gui/src/app/gateways/routes.ts
Due: make -j2 lint/script

feat(gateways/builtin-gateway-list-view): add summary drawer with config (#3284)
  packages/kuma-gui/features/mesh/builtin-gateways/Index.feature
  packages/kuma-gui/src/app/gateways/locales/en-us/index.yaml
  packages/kuma-gui/src/app/gateways/routes.ts
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewayListView.vue
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewaySummaryView.vue
  packages/kuma-gui/src/assets/images/gateway.svg
Due: make -j2 lint/script, make lint/css

chore: update owners (#3264)
  OWNERS.md
Due: none

fix(dataplanes): fixes layout of Status: info tooltip
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryConfigView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryView.vue
  packages/kuma-gui/src/app/x/components/x-icon/XIcon.vue
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

chore(deps): removes override for cookie
  packages/kuma-gui/package.json
Due: none

chore(deps): removes override for cookie (#3299)
  packages/kuma-gui/package.json
Due: none

fix(dataplanes): fixes layout of Status: info tooltip (#3298)
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryConfigView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryView.vue
  packages/kuma-gui/src/app/x/components/x-icon/XIcon.vue
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

refactor(common/resource-status): prefer undefined over null
  packages/kuma-gui/src/app/common/ResourceStatus.vue
Due: make -j2 lint/script, make lint/css

fix(common/resource-status): additional whitespace
  packages/kuma-gui/src/app/common/ResourceStatus.vue
Due: make -j2 lint/script, make lint/css

fix(common/resource-status): null still in template
  packages/kuma-gui/src/app/common/ResourceStatus.vue
Due: make -j2 lint/script, make lint/css

chore(deps): remove standard
  package-lock.json
  packages/config/package.json
Due: make lint/lock

chore(deps): remove standard (#3302)
  package-lock.json
  packages/config/package.json
Due: make lint/lock

refactor(common/resource-status): move logic to template
  packages/kuma-gui/src/app/common/ResourceStatus.vue
Due: make -j2 lint/script, make lint/css

refactor(common/resource-status): use black color for total value
  packages/kuma-gui/src/app/common/ResourceStatus.vue
Due: make -j2 lint/script, make lint/css

chore(config/eslint): add vue/no-console
  packages/config/src/eslint.cjs
Due: none

refactor(x-code-block/resource-code-block): move rejection handler to script
  packages/kuma-gui/src/app/x/components/x-code-block/ResourceCodeBlock.vue
Due: make -j2 lint/script, make lint/css

Path conditions:
  make -j2 lint/script: any of: *.{js,ts,vue}
  make lint/css: any of: *.{css,scss,vue}
  make lint/lock: any of: package-lock.json
