Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

fix: bump/override cookie dependency to ^0.7.1 (#3137)
  package-lock.json
  package.json
Due: make lint/lock

fix: resolve sass problem in onboarding
  src/app/onboarding/components/OnboardingPage.vue
Due: make -j2 lint/script, make lint/css

fix: also remove stray file
  dev-utilities/deprecatedUtilityClasses.cjs
Due: none

feature(routing): adds route config walking, plus several walkers
  src/app/application/components/route-view/README.md
  src/app/application/index.ts
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/subscriptions/views/SubscriptionSummaryView.vue
  src/app/vue/index.ts
Due: make -j2 lint/script, make lint/css

simplify conditional and exit early
  src/app/vue/index.ts
Due: make -j2 lint/script

fix: resolve sass problem in onboarding (#3150)
  dev-utilities/deprecatedUtilityClasses.cjs
  src/app/onboarding/components/OnboardingPage.vue
Due: make -j2 lint/script, make lint/css

feature(routing): adds route config walking, plus several walkers (#3151)
  src/app/application/components/route-view/README.md
  src/app/application/index.ts
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/subscriptions/views/SubscriptionSummaryView.vue
  src/app/vue/index.ts
Due: make -j2 lint/script, make lint/css

chore: uses new subscriptions table/drawer layout for zoneIngress
  src/app/application/components/route-view/RouteView.vue
  src/app/kuma/locales/en-us/index.yaml
  src/app/subscriptions/components/SubscriptionDetails.vue
  src/app/subscriptions/components/SubscriptionHeader.vue
  src/app/subscriptions/components/SubscriptionList.vue
  src/app/subscriptions/data/index.ts
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/routes.ts
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/subscriptions/views/SubscriptionSummaryView.vue
  src/app/zone-ingresses/routes.ts
  src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  src/app/zones/data/index.ts
  src/app/zones/routes.ts
  src/app/zones/views/ZoneDetailView.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/zone-ingresses/_/_overview.ts
  src/test-support/mocks/src/zone-ingresses/_overview.ts
  src/test-support/mocks/src/zones/_/_overview.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

Make sure we don't overwrite the original stat object
  src/app/subscriptions/data/index.ts
Due: make -j2 lint/script

fix some e2e tests
  features/zones/zone-cps/ingresses/item/Index.feature
  src/app/subscriptions/data/index.ts
  src/test-support/mocks/src/zone-ingresses/_/_overview.ts
Due: make -j2 lint/script

tmp
  src/app/application/components/route-view/RouteView.vue
  src/app/vue/index.ts
Due: make -j2 lint/script, make lint/css

Revert to using props for routeName
  src/app/application/components/route-view/RouteView.vue
  src/app/subscriptions/data/index.ts
  src/app/subscriptions/routes.ts
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/subscriptions/views/SubscriptionSummaryView.vue
Due: make -j2 lint/script, make lint/css

Remove addRouteName
  src/app/vue/index.ts
  src/app/zone-ingresses/views/ZoneIngressDetailView.vue
Due: make -j2 lint/script, make lint/css

May aswell remove this also
  src/app/application/components/route-view/RouteView.vue
Due: make -j2 lint/script, make lint/css

fix(search): Always show search bars (#3089) (#3133)
  src/app/application/components/app-collection/AppCollection.vue
  src/app/common/filter-bar/FilterBar.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/x/components/x-input/XInput.vue
Due: make -j2 lint/script, make lint/css

fix: pr previews
  vite.plugins.ts
Due: make -j2 lint/script

Put RouteView docs back to what it was previous to $routeName
  src/app/application/components/route-view/README.md
Due: none

feature(mocks): add new nanodate and date formats to FakeKuma
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/zone-ingresses/_/_overview.ts
Due: make -j2 lint/script

chore: uses new subscriptions table/drawer layout for zoneIngress (#3153)
  features/zones/zone-cps/ingresses/item/Index.feature
  src/app/application/components/route-view/README.md
  src/app/kuma/locales/en-us/index.yaml
  src/app/subscriptions/components/SubscriptionDetails.vue
  src/app/subscriptions/components/SubscriptionHeader.vue
  src/app/subscriptions/components/SubscriptionList.vue
  src/app/subscriptions/data/index.ts
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/routes.ts
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/subscriptions/views/SubscriptionSummaryView.vue
  src/app/vue/index.ts
  src/app/zone-ingresses/routes.ts
  src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  src/app/zones/data/index.ts
  src/app/zones/routes.ts
  src/app/zones/views/ZoneDetailView.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/zone-ingresses/_/_overview.ts
  src/test-support/mocks/src/zone-ingresses/_overview.ts
  src/test-support/mocks/src/zones/_/_overview.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

fix: pr previews (#3155)
  vite.plugins.ts
Due: make -j2 lint/script

test(hostname-generators): add unit test for selector
  src/app/hostname-generators/data/index.spec.ts
Due: make -j2 lint/script

feat: introduce hostname-generators
  features/hostname-generators/Index.feature
  features/hostname-generators/Item.feature
  src/app/hostname-generators/data/HostnameGenerator.ts
  src/app/hostname-generators/data/index.spec.ts
  src/app/hostname-generators/data/index.ts
  src/app/hostname-generators/index.ts
  src/app/hostname-generators/locales/en-us/index.yaml
  src/app/hostname-generators/routes.ts
  src/app/hostname-generators/sources.ts
  src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  src/app/hostname-generators/views/HostnameGeneratorListView.vue
  src/app/hostname-generators/views/HostnameGeneratorRootView.vue
  src/app/hostname-generators/views/HostnameGeneratorSummaryView.vue
  src/app/kuma/services/kuma-api/KumaApi.ts
  src/app/service-mesh/index.ts
  src/test-support/FakeKuma.ts
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/hostname-generators/_/_overview.ts
  src/test-support/mocks/src/hostname-generators/_overview.ts
Due: make -j2 lint/script, make lint/css

fix(mocks/hostname-generators): align collection and item mocks
  src/test-support/mocks/src/hostname-generators/_overview.ts
Due: make -j2 lint/script

refactor(HostnameGeneratorDetailView): remove unnecessary conditionals directive v-if for data checks
  src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(hostname-generators): keep data layer clean from app route-names
  src/app/hostname-generators/data/HostnameGenerator.ts
  src/app/hostname-generators/data/index.spec.ts
  src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
Due: make -j2 lint/script, make lint/css

refactor(HostnameGeneratorListView): use XCopyButton instead of TextCopyButton
  src/app/hostname-generators/views/HostnameGeneratorListView.vue
Due: make -j2 lint/script, make lint/css

several refactorings
  src/app/hostname-generators/data/HostnameGenerator.ts
  src/app/hostname-generators/data/index.spec.ts
  src/app/hostname-generators/locales/en-us/index.yaml
  src/app/hostname-generators/sources.ts
  src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  src/types/auto-generated.d.ts
Due: make -j2 lint/script, make lint/css

refactor(hostname-generators): internally move from hostnamegenerators to hostname-generators
  src/app/hostname-generators/sources.ts
  src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  src/app/hostname-generators/views/HostnameGeneratorListView.vue
  src/app/hostname-generators/views/HostnameGeneratorSummaryView.vue
  src/app/kuma/services/kuma-api/KumaApi.ts
Due: make -j2 lint/script, make lint/css

feat: introduce hostname-generators (#3160)
  features/hostname-generators/Index.feature
  features/hostname-generators/Item.feature
  src/app/hostname-generators/data/HostnameGenerator.ts
  src/app/hostname-generators/data/index.spec.ts
  src/app/hostname-generators/data/index.ts
  src/app/hostname-generators/index.ts
  src/app/hostname-generators/locales/en-us/index.yaml
  src/app/hostname-generators/routes.ts
  src/app/hostname-generators/sources.ts
  src/app/hostname-generators/views/HostnameGeneratorDetailView.vue
  src/app/hostname-generators/views/HostnameGeneratorListView.vue
  src/app/hostname-generators/views/HostnameGeneratorRootView.vue
  src/app/hostname-generators/views/HostnameGeneratorSummaryView.vue
  src/app/service-mesh/index.ts
  src/test-support/FakeKuma.ts
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/hostname-generators/_/_overview.ts
  src/test-support/mocks/src/hostname-generators/_overview.ts
  src/types/auto-generated.d.ts
Due: make -j2 lint/script, make lint/css

run install script
  public/mockServiceWorker.js
Due: make -j2 lint/script

feature(mocks): add new nanodate and date formats to FakeKuma (#3158)
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/zone-ingresses/_/_overview.ts
Due: make -j2 lint/script

changes related to node for re-installing in new workspace
  package-lock.json
  package.json
  packages/kuma-gui/Makefile
  packages/kuma-gui/package-lock.json
  packages/kuma-gui/package.json
  packages/kuma-gui/tsconfig.json
Due: make lint/lock

CI changes
  .github/workflows/main.yml
  .github/workflows/release.yml
  .gitignore
Due: none

Tweak some docs paths
  packages/kuma-gui/docs/3-getting-started.md
  packages/kuma-gui/index.md
Due: none

Copy _redirects correctly
  packages/kuma-gui/mk/build.mk
Due: none

Tweak gitignore
  .gitignore
Due: none

Amend netlify deployment
  netlify.toml
Due: none

Tweak path for test file partitioning
  .github/workflows/main.yml
Due: none

Remove trailing comma
  package.json
Due: none

Path conditions:
  make -j2 lint/script: any of: *.{js,ts,vue}
  make lint/css: any of: *.{css,scss,vue}
  make lint/lock: any of: package-lock.json
