Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

chore(dataplanes): add bundle downloading functionality (#3329)
  package-lock.json
  packages/kuma-gui/package.json
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
  packages/kuma-gui/src/app/kuma/services/kuma-api/KumaApi.ts
  packages/kuma-gui/src/app/x/components/x-modal/README.md
  packages/kuma-gui/src/app/x/components/x-modal/XModal.vue
  packages/kuma-gui/src/app/x/index.ts
Due: make -j2 lint/script, make lint/css, make lint/lock

chore(config): remove eslint-config-standard
  package-lock.json
  packages/config/package.json
  packages/config/src/eslint.cjs
Due: make lint/lock

chore: remove eslint-config-standard, bump eslint and related packages
  package-lock.json
  packages/config/package.json
  packages/kuma-gui/package.json
Due: make lint/lock

chore: migrate to eslint v9
  package-lock.json
  packages/config/package.json
  packages/config/src/eslint.cjs
  packages/config/src/eslint.config.cjs
  packages/config/src/index.cjs
  packages/config/src/stylelint.cjs
  packages/config/src/stylelint.config.cjs
  packages/kuma-gui/.eslintrc.cjs
  packages/kuma-gui/eslint.config.cjs
  packages/kuma-gui/mk/check.mk
  packages/kuma-gui/package.json
Due: make lint/lock

chore(config/eslint): add eslint.configs.recommended
  packages/config/src/eslint.config.cjs
Due: none

chore(config/eslint): use recommended of eslint-plugin-vue
  packages/config/src/eslint.config.cjs
Due: none

fix(types/index.d.ts): unexpected any, empty interface
  packages/kuma-gui/src/types/index.d.ts
Due: make -j2 lint/script

chore(eslint): auto fixes
  packages/kuma-gui/src/app/application/components/app-view/AppView.vue
  packages/kuma-gui/src/app/application/components/route-view/RouteView.vue
  packages/kuma-gui/src/app/common/filter-bar/FilterBar.vue
  packages/kuma-gui/src/app/kuma/services/kuma-api/makeRequest.spec.ts
  packages/kuma-gui/src/app/me/sources.ts
  packages/kuma-gui/src/app/x/components/x-code-block/ResourceCodeBlock.vue
  packages/kuma-gui/src/app/x/components/x-provider/XProvider.vue
  packages/kuma-gui/src/app/x/components/x-select/XSelect.vue
  packages/kuma-gui/src/types/config.d.ts
Due: make -j2 lint/script, make lint/css

fix: unused var
  packages/kuma-gui/vite.plugins.ts
Due: make -j2 lint/script

fix: lint @typescript-eslint/no-unused-expressions
  packages/kuma-gui/src/app/application/services/data-source/DataSourcePool.spec.ts
  packages/kuma-gui/src/app/x/components/x-tabs/XTabs.vue
Due: make -j2 lint/script, make lint/css

chore(eslint): ignore mockServiceWorker generated file
  packages/kuma-gui/eslint.config.cjs
Due: none

fix(me/sources): type mismatch
  packages/kuma-gui/src/app/me/sources.ts
Due: make -j2 lint/script

fix: lint @typescript-eslint/no-unused-vars
  packages/kuma-gui/src/app/application/components/route-view/RouteView.vue
  packages/kuma-gui/src/app/connections/data/index.ts
Due: make -j2 lint/script, make lint/css

fix(data-planes/sidecar-dataplane): type mismatch
  packages/kuma-gui/src/app/data-planes/data/SidecarDataplane.ts
Due: make -j2 lint/script

fix(services/utils): type exports not found in brandi
  packages/kuma-gui/src/services/utils.ts
Due: make -j2 lint/script

fix: lint no-constant-binary-expression
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/test-support/mocks/src/dataplanes/_overview.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_overview.ts
Due: make -j2 lint/script

fix: lint ignore @typescript-eslint/no-this-alias
  packages/kuma-gui/src/app/application/services/data-source/index.ts
Due: make -j2 lint/script

chore(deps): bump @typescript-eslint/eslint-plugin and -parser
  package-lock.json
  packages/config/package.json
Due: make lint/lock

chore(config): rename eslint and stylelint config files
  packages/config/src/eslint.cjs
  packages/config/src/index.cjs
  packages/config/src/stylelint.cjs
Due: none

chore(features): formatting
  packages/kuma-gui/features/configuration/DetailViewContent.feature
  packages/kuma-gui/features/hostname-generators/Item.feature
  packages/kuma-gui/features/mesh/dataplanes/overview/ClusterNames.feature
  packages/kuma-gui/features/mesh/dataplanes/overview/summary/Clusters.feature
Due: none

chore(config/eslint): temporarily disable certain rules, temporarily support cjs
  packages/config/src/eslint.config.cjs
Due: none

chore(config): use caret for peer eslint version range
  package-lock.json
  packages/config/package.json
Due: make lint/lock

fix: lock-file
  package-lock.json
Due: make lint/lock

chore: removes TextWithCopyButton
  packages/kuma-gui/src/app/common/ErrorBlock.vue
  packages/kuma-gui/src/app/common/TextWithCopyButton.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneListView.vue
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailTabsView.vue
  packages/kuma-gui/src/app/external-services/views/ExternalServiceListView.vue
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewayDetailTabsView.vue
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewayListView.vue
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayDetailTabsView.vue
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayListView.vue
  packages/kuma-gui/src/app/policies/views/PolicyDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/MeshExternalServiceDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/MeshExternalServiceListView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceListView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceListView.vue
  packages/kuma-gui/src/app/services/views/ServiceDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/ServiceListView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailTabsView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressListView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressSummaryView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailTabsView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressListView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
  packages/kuma-gui/src/app/zones/views/ZoneDetailTabsView.vue
Due: make -j2 lint/script, make lint/css

chore: removes TextWithCopyButton (#3354)
  packages/kuma-gui/src/app/common/ErrorBlock.vue
  packages/kuma-gui/src/app/common/TextWithCopyButton.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneListView.vue
  packages/kuma-gui/src/app/external-services/views/ExternalServiceDetailTabsView.vue
  packages/kuma-gui/src/app/external-services/views/ExternalServiceListView.vue
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewayDetailTabsView.vue
  packages/kuma-gui/src/app/gateways/views/BuiltinGatewayListView.vue
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayDetailTabsView.vue
  packages/kuma-gui/src/app/gateways/views/DelegatedGatewayListView.vue
  packages/kuma-gui/src/app/policies/views/PolicyDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/MeshExternalServiceDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/MeshExternalServiceListView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/MeshMultiZoneServiceListView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/MeshServiceListView.vue
  packages/kuma-gui/src/app/services/views/ServiceDetailTabsView.vue
  packages/kuma-gui/src/app/services/views/ServiceListView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailTabsView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressListView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressSummaryView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailTabsView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressListView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
  packages/kuma-gui/src/app/zones/views/ZoneDetailTabsView.vue
Due: make -j2 lint/script, make lint/css

add todo
  packages/kuma-gui/src/app/application/services/data-source/index.ts
Due: make -j2 lint/script

refactor(config/eslint): resolve config from require.resolve
  packages/config/src/eslint.cjs
Due: none

chore(dataplanes): improve bundle downloading checkboxes
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
Due: make -j2 lint/script, make lint/css

fix: comma-dangle, use @stylistic/comma-dangle
  packages/config/src/eslint.cjs
  packages/kuma-gui/eslint.config.cjs
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
Due: make -j2 lint/script, make lint/css

fix: lint quotes, semi
  packages/config/src/eslint.cjs
  packages/config/src/stylelint.cjs
  packages/kuma-gui/src/app/application/components/data-source/DataSource.spec.ts
  packages/kuma-gui/src/app/application/components/data-source/DataSource.vue
  packages/kuma-gui/src/app/application/services/data-source/index.ts
  packages/kuma-gui/src/app/common/ErrorBlock.spec.ts
  packages/kuma-gui/src/app/data-planes/data/index.spec.ts
  packages/kuma-gui/src/app/zone-egresses/data/index.spec.ts
  packages/kuma-gui/src/app/zone-ingresses/data/index.spec.ts
  packages/kuma-gui/src/services/utils.ts
  packages/kuma-gui/src/test-support/data/index.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/proxytemplates.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/proxytemplates/_.ts
  packages/kuma-gui/vite.config.production.ts
Due: make -j2 lint/script, make lint/css

refactor(eslint.config): move ignoring common folders to shared config
  packages/config/src/eslint.cjs
  packages/kuma-gui/eslint.config.cjs
Due: none

chore(eslint): add rule prefer-promise-reject-errors
  packages/config/src/eslint.cjs
  packages/kuma-gui/src/app/kuma/services/kuma-api/makeRequest.spec.ts
Due: make -j2 lint/script

refactor(services/utils): move type imports to separate import
  packages/kuma-gui/src/services/utils.ts
Due: make -j2 lint/script

ignore empty-object rule
  packages/kuma-gui/src/types/index.d.ts
Due: make -j2 lint/script

fix: quotes avoid escaping
  packages/config/src/eslint.cjs
  packages/kuma-gui/src/app/application/components/data-source/DataSource.spec.ts
  packages/kuma-gui/src/app/common/ErrorBlock.spec.ts
  packages/kuma-gui/src/app/data-planes/data/index.spec.ts
  packages/kuma-gui/src/app/zone-egresses/data/index.spec.ts
  packages/kuma-gui/src/app/zone-ingresses/data/index.spec.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/proxytemplates.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/proxytemplates/_.ts
  packages/kuma-gui/vite.config.production.ts
Due: make -j2 lint/script

refactor: temporarily allow no-unused-expressions
  packages/config/src/eslint.cjs
  packages/kuma-gui/src/app/application/services/data-source/DataSourcePool.spec.ts
  packages/kuma-gui/src/app/x/components/x-tabs/XTabs.vue
Due: make -j2 lint/script, make lint/css

roll back fixing any
  packages/kuma-gui/src/app/data-planes/data/SidecarDataplane.ts
  packages/kuma-gui/src/types/index.d.ts
Due: make -j2 lint/script

feat(dataplanes): include rules in dataplane bundle download
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
Due: make -j2 lint/script, make lint/css

refactor(me/sources): use object instead of record
  packages/kuma-gui/src/app/me/sources.ts
Due: make -j2 lint/script

chore(dataplanes): improve bundle downloading checkboxes (#3378)
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
Due: make -j2 lint/script, make lint/css

Path conditions:
  make -j2 lint/script: any of: *.{js,ts,vue}
  make lint/css: any of: *.{css,scss,vue}
  make lint/lock: any of: package-lock.json
