Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "make -j2 lint/script",
  "*.{css,scss,vue}": "make lint/css",
  "package-lock.json": "make lint/lock"
}

chore: uprade eslint to v9 (#3373)
  package-lock.json
  packages/config/package.json
  packages/config/src/eslint.cjs
  packages/config/src/index.cjs
  packages/config/src/stylelint.cjs
  packages/kuma-gui/.eslintrc.cjs
  packages/kuma-gui/eslint.config.cjs
  packages/kuma-gui/features/configuration/DetailViewContent.feature
  packages/kuma-gui/features/hostname-generators/Item.feature
  packages/kuma-gui/features/mesh/dataplanes/overview/ClusterNames.feature
  packages/kuma-gui/features/mesh/dataplanes/overview/summary/Clusters.feature
  packages/kuma-gui/mk/check.mk
  packages/kuma-gui/package.json
  packages/kuma-gui/src/app/application/components/app-view/AppView.vue
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
  packages/kuma-gui/src/app/application/components/data-source/DataSource.vue
  packages/kuma-gui/src/app/application/components/route-view/RouteView.vue
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/application/services/data-source/index.ts
  packages/kuma-gui/src/app/common/filter-bar/FilterBar.vue
  packages/kuma-gui/src/app/connections/data/index.ts
  packages/kuma-gui/src/app/me/sources.ts
  packages/kuma-gui/src/app/x/components/x-code-block/ResourceCodeBlock.vue
  packages/kuma-gui/src/app/x/components/x-provider/XProvider.vue
  packages/kuma-gui/src/app/x/components/x-select/XSelect.vue
  packages/kuma-gui/src/services/utils.ts
  packages/kuma-gui/src/test-support/data/index.ts
  packages/kuma-gui/src/test-support/mocks/src/dataplanes/_overview.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_.ts
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_overview.ts
  packages/kuma-gui/src/types/config.d.ts
  packages/kuma-gui/vite.plugins.ts
Due: make -j2 lint/script, make lint/css, make lint/lock

feat(dataplanes): include rules in dataplane bundle download (#3380)
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
Due: make -j2 lint/script, make lint/css

chore(config/deps): explicitely install globals, @eslint/js
  package-lock.json
  packages/config/package.json
Due: make lint/lock

chore(config/deps): explicitely install globals, @eslint/js (#3381)
  package-lock.json
  packages/config/package.json
Due: make lint/lock

chore: add Makefile for root operations install and clean
  Makefile
  mk/index.mk
Due: none

chore: add linting for config package
  .github/workflows/main.yml
  packages/config/.lintstagedrc.json
  packages/config/Makefile
  packages/config/eslint.config.cjs
Due: none

chore(config): lint auto fixes
  packages/config/scripts/ci.cjs
  packages/config/src/eslint.cjs
  packages/config/src/stylelint.cjs
Due: none

chore(deps/config): explicitely add glob to deps
  package-lock.json
  packages/config/package.json
Due: make lint/lock

fix: typo
  packages/kuma-gui/mk/check.mk
Due: none

chore(ci/main): remove working dir from lint-tests
  .github/workflows/main.yml
Due: none

ci(github): simplify release.yaml
  .github/workflows/release.yml
Due: none

refactor: move make clean target to root Makefile
  Makefile
  mk/index.mk
Due: none

fix env vars
  .github/workflows/release.yml
Due: none

no envs is better
  .github/workflows/release.yml
Due: none

move echo to clean recipe
  Makefile
  packages/kuma-gui/mk/install.mk
Due: none

chore: lint config package (#3382)
  .github/workflows/main.yml
  Makefile
  package-lock.json
  packages/config/.lintstagedrc.json
  packages/config/Makefile
  packages/config/eslint.config.cjs
  packages/config/package.json
  packages/config/scripts/ci.cjs
  packages/config/src/eslint.cjs
  packages/config/src/stylelint.cjs
  packages/kuma-gui/mk/check.mk
  packages/kuma-gui/mk/install.mk
Due: make lint/lock

chore(dataplanes): minor amends to dataplane download bundling
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
Due: make -j2 lint/script, make lint/css

chore(dataplanes): minor amends to dataplane download bundling (#3385)
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/sources.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
Due: make -j2 lint/script, make lint/css

chore(deps) upgrade reflect-metadata
  package-lock.json
  package.json
Due: make lint/lock

pin @cucumber/messages instead
  package-lock.json
  package.json
Due: make lint/lock

chore: add lint-staged and move mk
  .lintstagedrc.json
  Makefile
  packages/config/.lintstagedrc.json
  packages/config/Makefile
  packages/config/src/mk/build.mk
  packages/config/src/mk/check.mk
  packages/config/src/mk/help.mk
  packages/config/src/mk/install.mk
  packages/config/src/mk/release.mk
  packages/config/src/mk/run.mk
  packages/config/src/mk/test.mk
  packages/kuma-gui/.lintstagedrc.json
  packages/kuma-gui/Makefile
Due: none

add help to all root Makefiles
  Makefile
  packages/config/Makefile
  packages/kuma-gui/Makefile
Due: none

chore(deps): upgrade reflect-metadata (#3384)
  package-lock.json
  package.json
Due: make lint/lock

chore(dataplanes): refactor out reusable routes
  packages/kuma-gui/features/application/MainNavigation.feature
  packages/kuma-gui/features/mesh/dataplanes/overview/summary/Clusters.feature
  packages/kuma-gui/src/app/connections/routes.ts
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionsClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionsStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionsXdsConfigView.vue
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneInboundSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneOutboundSummaryOverviewView.vue
Due: make -j2 lint/script, make lint/css

chore: lint-staged (#3401)
  .lintstagedrc.json
  Makefile
  packages/config/.lintstagedrc.json
  packages/config/Makefile
  packages/config/src/mk/build.mk
  packages/config/src/mk/check.mk
  packages/config/src/mk/help.mk
  packages/config/src/mk/install.mk
  packages/config/src/mk/release.mk
  packages/config/src/mk/run.mk
  packages/config/src/mk/test.mk
  packages/kuma-gui/.lintstagedrc.json
  packages/kuma-gui/Makefile
Due: none

chore(dataplanes): refactor out reusable routes (#3406)
  packages/kuma-gui/features/application/MainNavigation.feature
  packages/kuma-gui/features/mesh/dataplanes/overview/summary/Clusters.feature
  packages/kuma-gui/src/app/connections/routes.ts
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionInboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionsClustersView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionsStatsView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionsXdsConfigView.vue
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailTabsView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneInboundSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneOutboundSummaryOverviewView.vue
Due: make -j2 lint/script, make lint/css

ci(github): simplify release.yaml (#3383)
  .github/workflows/release.yml
Due: none

feat(application): source default URL params from storage
  packages/kuma-gui/src/app/application/components/route-view/RouteView.vue
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/application/services/storage/index.ts
  packages/kuma-gui/src/app/me/index.ts
  packages/kuma-gui/src/app/me/sources.ts
Due: make -j2 lint/script, make lint/css

feat(application): source default URL params from storage (#3408)
  packages/kuma-gui/src/app/application/components/route-view/RouteView.vue
  packages/kuma-gui/src/app/application/index.ts
  packages/kuma-gui/src/app/application/services/storage/index.ts
  packages/kuma-gui/src/app/me/index.ts
  packages/kuma-gui/src/app/me/sources.ts
Due: make -j2 lint/script, make lint/css

chore(ci): various makefile improvements
  Makefile
  packages/config/Makefile
  packages/config/scripts/ci.cjs
  packages/config/src/index.cjs
  packages/config/src/mk/help.mk
  packages/config/src/mk/install.mk
  packages/config/src/mk/release.mk
  packages/kuma-gui/Makefile
Due: none

make sure we wait for port 5681 to run the tests
  packages/config/src/mk/test.mk
Due: none

Make sbom exclusion reusable
  packages/config/src/mk/help.mk
  packages/config/src/mk/release.mk
Due: none

chore(ci): various makefile improvements (#3410)
  Makefile
  packages/config/Makefile
  packages/config/scripts/ci.cjs
  packages/config/src/index.cjs
  packages/config/src/mk/help.mk
  packages/config/src/mk/install.mk
  packages/config/src/mk/release.mk
  packages/config/src/mk/test.mk
  packages/kuma-gui/Makefile
Due: none

fix(ci): fix release/prune which runs before make install
  Makefile
  packages/config/Makefile
  packages/config/scripts/ci.cjs
  packages/config/scripts/prune.cjs
  packages/config/src/index.cjs
  packages/config/src/mk/help.mk
  packages/config/src/mk/release.mk
  packages/kuma-gui/Makefile
Due: none

feat(zone-ingress-summary-view): use dropdown to select config format
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
  packages/kuma-gui/src/app/zone-ingresses/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

add tests
  packages/kuma-gui/cypress/support/step_definitions/index.ts
  packages/kuma-gui/features/zones/zone-cps/ingresses/ZoneIngressSummary.feature
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

fix(dataplanes): fix misnamed prop
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryView.vue
Due: make -j2 lint/script, make lint/css

x-layout reuse size prop for space
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

fix(ci): fix release/prune which runs before make install (#3412)
  Makefile
  packages/config/Makefile
  packages/config/scripts/ci.cjs
  packages/config/scripts/prune.cjs
  packages/config/src/index.cjs
  packages/config/src/mk/help.mk
  packages/config/src/mk/release.mk
  packages/kuma-gui/Makefile
Due: none

refactor: for route state prefer events over v-model
  packages/kuma-gui/src/app/application/components/route-view/README.md
  packages/kuma-gui/src/app/application/components/route-view/RouteView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionOutboundSummaryXdsConfigView.vue
  packages/kuma-gui/src/app/connections/views/ConnectionsXdsConfigView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressXdsConfigView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressDetailView.vue
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressXdsConfigView.vue
Due: make -j2 lint/script, make lint/css
