Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "make -j2 lint/script",
  "*.{css,scss,vue}": "make lint/css",
  "package-lock.json": "make lint/lock"
}

Move vitepress gitignores
  .gitignore
  packages/kuma-gui/.vitepress/.gitignore
Due: none

Pin vue in the root
  package-lock.json
  package.json
  packages/kuma-gui/package.json
Due: make lint/lock

unpin vue in the root :shrug:
  package-lock.json
  package.json
Due: make lint/lock

mess with inlined script
  .github/workflows/main.yml
Due: none

rename package to @kumahq/kuma-gui
  package-lock.json
  package.json
  packages/kuma-gui/package.json
Due: make lint/lock

delete old package-lock.json file
  packages/kuma-gui/package-lock.json
Due: make lint/lock

fix(kuma-gui/x-prompt): unsupported KPrompt prop type
  packages/kuma-gui/src/app/x/components/x-prompt/XPrompt.vue
Due: make -j2 lint/script, make lint/css

fix(ci): correct paths for SBOM moving
  .github/workflows/release.yml
Due: none

fix(ci): correct paths for SBOM moving (#3179)
  .github/workflows/release.yml
Due: none

fix: remove decorative attribute from all icons to fix tooltipping
  packages/kuma-gui/src/app/x/components/x-icon/XIcon.vue
Due: make -j2 lint/script, make lint/css

chore(zones): implement new table/drawer subscriptions views
  packages/kuma-gui/src/app/subscriptions/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zone-egresses/routes.ts
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
Due: make -j2 lint/script, make lint/css

use new table/drawer for zone-egress and dataplanes also
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/subscriptions/locales/en-us/index.yaml
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/_overview.ts
Due: make -j2 lint/script, make lint/css

Tweak e2e tests
  packages/kuma-gui/features/mesh/dataplanes/DataplaneDetailsStandardProxy.feature
  packages/kuma-gui/features/zones/zone-cps/egresses/Item.feature
  packages/kuma-gui/src/app/subscriptions/components/SubscriptionDetails.vue
  packages/kuma-gui/src/app/subscriptions/components/SubscriptionHeader.vue
  packages/kuma-gui/src/app/subscriptions/components/SubscriptionList.vue
  packages/kuma-gui/src/assets/images/icon-connected.svg
  packages/kuma-gui/src/assets/images/icon-deployed-code.svg
  packages/kuma-gui/src/assets/images/icon-disconnected.svg
Due: make -j2 lint/script, make lint/css

fix: remove decorative attribute from all icons to fix tooltipping (#3175)
  packages/kuma-gui/src/app/x/components/x-icon/XIcon.vue
Due: make -j2 lint/script, make lint/css

chore(subscriptions): implement new table/drawer subscriptions views in egress and dpps (#3159)
  packages/kuma-gui/features/mesh/dataplanes/DataplaneDetailsStandardProxy.feature
  packages/kuma-gui/features/zones/zone-cps/egresses/Item.feature
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/subscriptions/components/SubscriptionDetails.vue
  packages/kuma-gui/src/app/subscriptions/components/SubscriptionHeader.vue
  packages/kuma-gui/src/app/subscriptions/components/SubscriptionList.vue
  packages/kuma-gui/src/app/subscriptions/locales/en-us/index.yaml
  packages/kuma-gui/src/app/zone-egresses/routes.ts
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressDetailView.vue
  packages/kuma-gui/src/assets/images/icon-connected.svg
  packages/kuma-gui/src/assets/images/icon-deployed-code.svg
  packages/kuma-gui/src/assets/images/icon-disconnected.svg
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/_overview.ts
Due: make -j2 lint/script, make lint/css

fix(kuma-gui/x-prompt): unsupported KPrompt prop type (#3177)
  packages/kuma-gui/src/app/x/components/x-prompt/XPrompt.vue
Due: make -j2 lint/script, make lint/css

chore: adds new @kumahq/config module to house shareable config
  .github/workflows/main.yml
  package-lock.json
  packages/config/package.json
  packages/config/scripts/ci.cjs
  packages/config/src/cypress.ts
  packages/config/src/eslint.cjs
  packages/config/src/index.cjs
  packages/config/src/index.ts
  packages/config/src/stylelint.cjs
  packages/config/tsconfig.json
  packages/kuma-gui/.eslintrc.cjs
  packages/kuma-gui/cypress.config.ts
  packages/kuma-gui/docgen.config.js
  packages/kuma-gui/package.json
  packages/kuma-gui/stylelint.config.cjs
Due: make -j2 lint/script, make lint/lock

tweak placement of dependencies
  package-lock.json
  packages/config/package.json
  packages/config/tsconfig.json
  packages/kuma-gui/package.json
Due: make lint/lock

chore: adds new @kumahq/config module to house shareable config (#3184)
  .github/workflows/main.yml
  package-lock.json
  packages/config/package.json
  packages/config/scripts/ci.cjs
  packages/config/src/cypress.ts
  packages/config/src/eslint.cjs
  packages/config/src/index.cjs
  packages/config/src/index.ts
  packages/config/src/stylelint.cjs
  packages/config/tsconfig.json
  packages/kuma-gui/.eslintrc.cjs
  packages/kuma-gui/cypress.config.ts
  packages/kuma-gui/docgen.config.js
  packages/kuma-gui/package.json
  packages/kuma-gui/stylelint.config.cjs
Due: make -j2 lint/script, make lint/lock

fix(deps): sets srcData to unknown only within DataLoader
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
Due: make -j2 lint/script, make lint/css

be more exact about which types we export (nullable vs non-nullable)
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
Due: make -j2 lint/script, make lint/css

fix(deps): sets srcData to unknown only within DataLoader (#3185)
  packages/kuma-gui/src/app/application/components/data-source/DataLoader.vue
Due: make -j2 lint/script, make lint/css

fix: remove beforePaint from routeUpdate, its no longer required
  packages/kuma-gui/src/app/application/components/route-view/RouteView.vue
Due: make -j2 lint/script, make lint/css

fix: remove beforePaint from routeUpdate, its no longer required (#3187)
  packages/kuma-gui/src/app/application/components/route-view/RouteView.vue
Due: make -j2 lint/script, make lint/css

chore: detect unreachable code
  packages/config/src/eslint.cjs
  packages/kuma-gui/tsconfig.json
Due: none

fix(kuma-gui/mocks/meshes/dataplanes/stats): unreachable return
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/stats.ts
Due: make -j2 lint/script

feat(kuma-gui/control-planes): add ControlPlaneActionGroup with link to HostnameGenerators
  packages/kuma-gui/src/app/control-planes/components/ControlPlaneActionGroup.vue
  packages/kuma-gui/src/app/control-planes/index.ts
  packages/kuma-gui/src/app/control-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/control-planes/views/ControlPlaneDetailView.vue
  packages/kuma-gui/src/app/x/components/x-action-group/XActionGroup.vue
Due: make -j2 lint/script, make lint/css

chore: detect unreachable code (#3188)
  packages/config/src/eslint.cjs
  packages/kuma-gui/src/test-support/mocks/src/meshes/_/dataplanes/_/stats.ts
  packages/kuma-gui/tsconfig.json
Due: make -j2 lint/script

fix(dataplanes): Fix margins on inbound cards in dataplane overview
  packages/kuma-gui/src/app/connections/components/connection-traffic/ConnectionGroup.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
Due: make -j2 lint/script, make lint/css

feat(zone-ingress/summary-view): add config
  packages/kuma-gui/src/app/zone-ingresses/data/index.spec.ts
  packages/kuma-gui/src/app/zone-ingresses/data/index.ts
  packages/kuma-gui/src/app/zone-ingresses/sources.ts
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

fix(dataplanes): Fix margins on inbound cards in dataplane overview (#3190)
  packages/kuma-gui/src/app/connections/components/connection-traffic/ConnectionGroup.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneDetailView.vue
  packages/kuma-gui/src/app/x/components/x-layout/XLayout.vue
Due: make -j2 lint/script, make lint/css

refactor(zone-ingresses/data): derive item config from zoneIngress and item metadata
  packages/kuma-gui/src/app/zone-ingresses/data/index.spec.ts
  packages/kuma-gui/src/app/zone-ingresses/data/index.ts
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

feat(zone-ingress/summary-view): add config (#3202)
  packages/kuma-gui/src/app/zone-ingresses/data/index.spec.ts
  packages/kuma-gui/src/app/zone-ingresses/data/index.ts
  packages/kuma-gui/src/app/zone-ingresses/sources.ts
  packages/kuma-gui/src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

feat(zone-egresses/summary-view): add config
  packages/kuma-gui/src/app/zone-egresses/data/index.spec.ts
  packages/kuma-gui/src/app/zone-egresses/data/index.ts
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressSummaryView.vue
Due: make -j2 lint/script, make lint/css

version bump
  packages/kuma-gui/public/mockServiceWorker.js
Due: make -j2 lint/script

Reword HostnameGenerator to Hostname Generator in navigation items
  packages/kuma-gui/src/app/control-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/hostname-generators/locales/en-us/index.yaml
Due: none

feat(zone-egresses/summary-view): add config (#3203)
  packages/kuma-gui/src/app/zone-egresses/data/index.spec.ts
  packages/kuma-gui/src/app/zone-egresses/data/index.ts
  packages/kuma-gui/src/app/zone-egresses/views/ZoneEgressSummaryView.vue
Due: make -j2 lint/script, make lint/css

feat(data-planes/data-plane-summary-view): add config
  packages/kuma-gui/features/mesh/dataplanes/DataplaneSummary.feature
  packages/kuma-gui/src/app/data-planes/data/DataplaneOverview.ts
  packages/kuma-gui/src/app/data-planes/data/index.spec.ts
  packages/kuma-gui/src/app/data-planes/locales/en-us/index.yaml
  packages/kuma-gui/src/app/data-planes/routes.ts
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryConfigView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryOverviewView.vue
  packages/kuma-gui/src/app/data-planes/views/DataPlaneSummaryView.vue
Due: make -j2 lint/script, make lint/css

fix(gateways/routes): add routeName prop for summary view
  packages/kuma-gui/src/app/gateways/routes.ts
Due: make -j2 lint/script
