Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "make -j2 lint/script",
  "*.{css,scss,vue}": "make lint/css",
  "package-lock.json": "make lint/lock"
}

chore(deps): add dependabot PR hooks
  .github/workflows/main.yml
  .github/workflows/on-dependabot-pr.yml
Due: none

chore(tests): allow relative mocks, allow passthrough via mocks
  src/test-support/fake.ts
  src/test-support/index.ts
  src/test-support/intercept.ts
  src/test-support/vite.ts
Due: make -j2 lint/script

chore: Slight text/css amends
  src/app/zones/locales/en-us/index.yaml
  src/assets/styles/_base.scss
Due: make lint/css

fix(zones): expect `authn` not `auth` in ZoneInsight.config
  src/app/zones/data/index.ts
  src/test-support/FakeKuma.ts
Due: make -j2 lint/script

chore(zones): remove zone-crud README (#2869)
  src/app/zones-crud/README.md
Due: none

fix: check for closed source on retry (#2870)
  src/app/application/services/data-source/index.ts
  src/app/zones/sources.ts
  src/test-support/mocks/src/zones/_/_overview.ts
Due: make -j2 lint/script

chore(tests): allow relative mocks, allow passthrough via mocks (#2919)
  src/test-support/fake.ts
  src/test-support/index.ts
  src/test-support/intercept.ts
  src/test-support/vite.ts
Due: make -j2 lint/script

chore: Slight text/css amends (#2931)
  src/app/zones/locales/en-us/index.yaml
  src/assets/styles/_base.scss
Due: make lint/css

fix(zones): expect `authn` not `auth` in ZoneInsight.config (#2932)
  src/app/zones/data/index.ts
  src/test-support/FakeKuma.ts
Due: make -j2 lint/script

feature(policies): add more information to the policy detail page
  src/app/policies/views/PolicyDetailView.vue
Due: make -j2 lint/script, make lint/css

feat(zones): move KDSSubscriptions to use a table/summary (#2664)
  features/zones/zone-cps/Item.feature
  src/app/subscriptions/data/index.ts
  src/app/subscriptions/index.ts
  src/app/subscriptions/locales/en-us/index.yaml
  src/app/subscriptions/routes.ts
  src/app/subscriptions/views/SubscriptionSummaryConfigView.vue
  src/app/subscriptions/views/SubscriptionSummaryOverviewView.vue
  src/app/subscriptions/views/SubscriptionSummaryView.vue
  src/app/zones/index.ts
  src/app/zones/locales/en-us/index.yaml
  src/app/zones/routes.ts
  src/app/zones/views/ZoneDetailView.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/zones/_/_overview.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

chore(meshservice): several amends to Mesh*Service
  src/app/services/data/MeshService.ts
  src/app/services/routes.ts
  src/app/services/views/MeshExternalServiceConfigView.vue
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshMultiZoneServiceDetailView.vue
  src/app/services/views/MeshMultiZoneServiceListView.vue
  src/app/services/views/MeshMultiZoneServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/meshes/_/meshexternalservices.ts
  src/test-support/mocks/src/meshes/_/meshexternalservices/_.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices/_.ts
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
Due: make -j2 lint/script, make lint/css

Add missing meshfaultinjection mocks
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/mesh-insights/_.ts
  src/test-support/mocks/src/meshes/_/meshfaultinjections/_/_resources/dataplanes.ts
Due: make -j2 lint/script

chore(meshservices): Soft disable internal/external pages if Exclusive
  src/app/application/services/env/Env.ts
  src/app/meshes/views/MeshDetailTabsView.vue
  src/app/services/routes.ts
  src/app/services/views/ServiceListTabsView.vue
  src/test-support/fake.ts
  src/test-support/mocks/src/meshes/_.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

remove topLevel MeshService targetRef
  src/test-support/mocks/src/meshes/_/meshfaultinjections.ts
  src/test-support/mocks/src/meshes/_/meshfaultinjections/_.ts
Due: make -j2 lint/script

default Mesh targetRef
  src/app/policies/components/PolicySummary.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyListView.vue
Due: make -j2 lint/script, make lint/css

chore: support toResourceRules in outbounds summary
  src/app/connections/data/index.spec.ts
  src/app/connections/data/index.ts
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/rules/data/ResourceRule.ts
  src/app/rules/data/index.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

type `e` to string
  src/app/x/components/x-input/XInput.vue
Due: make -j2 lint/script, make lint/css

chore(meshservices): Soft disable internal/external pages if MeshServices: Exclusive (#2938)
  src/app/application/services/env/Env.ts
  src/app/meshes/views/MeshDetailTabsView.vue
  src/app/services/routes.ts
  src/app/services/views/ServiceListTabsView.vue
  src/test-support/fake.ts
  src/test-support/mocks/src/meshes/_.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

feat(policies): add icon for producer policies in policy listings
  src/app/policies/data/index.ts
  src/app/policies/views/PolicyListView.vue
  src/app/x/components/x-icon/XIcon.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/meshes/_/meshfaultinjections.ts
Due: make -j2 lint/script, make lint/css

Update tests
  features/mesh/policies/Index.feature
Due: none

feature(policies): add more information to the policy detail page (#2935)
  src/app/policies/components/PolicySummary.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/test-support/mocks/fs.ts
  src/test-support/mocks/src/mesh-insights/_.ts
  src/test-support/mocks/src/meshes/_/meshfaultinjections.ts
  src/test-support/mocks/src/meshes/_/meshfaultinjections/_.ts
  src/test-support/mocks/src/meshes/_/meshfaultinjections/_/_resources/dataplanes.ts
Due: make -j2 lint/script, make lint/css

chore(meshservice): several amends to Mesh*Service (#2936)
  src/app/services/data/MeshService.ts
  src/app/services/routes.ts
  src/app/services/views/MeshExternalServiceConfigView.vue
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshMultiZoneServiceDetailView.vue
  src/app/services/views/MeshMultiZoneServiceListView.vue
  src/app/services/views/MeshMultiZoneServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/meshes/_/meshexternalservices.ts
  src/test-support/mocks/src/meshes/_/meshexternalservices/_.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices.ts
  src/test-support/mocks/src/meshes/_/meshmultizoneservices/_.ts
  src/test-support/mocks/src/meshes/_/meshservices.ts
  src/test-support/mocks/src/meshes/_/meshservices/_.ts
Due: make -j2 lint/script, make lint/css

chore: support toResourceRules in outbounds summary (#2958)
  src/app/connections/data/index.spec.ts
  src/app/connections/data/index.ts
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/rules/data/ResourceRule.ts
  src/app/rules/data/index.ts
  src/types/index.d.ts
Due: make -j2 lint/script, make lint/css

feat(policies): add icon for producer policies in policy listings (#2963)
  features/mesh/policies/Index.feature
  src/app/policies/data/index.ts
  src/app/policies/views/PolicyListView.vue
  src/app/x/components/x-icon/XIcon.vue
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/meshes/_/meshfaultinjections.ts
Due: make -j2 lint/script, make lint/css

feat(mes): check for mTLS and connected zoneEgress + warning
  src/app/meshes/data/Mesh.ts
  src/app/meshes/data/MeshInsight.ts
  src/app/meshes/data/index.spec.ts
  src/app/meshes/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/ServiceListTabsView.vue
Due: make -j2 lint/script, make lint/css

feat(mes): check for mTLS and connected zoneEgress + warning (#2964)
  src/app/meshes/data/Mesh.ts
  src/app/meshes/data/MeshInsight.ts
  src/app/meshes/data/index.spec.ts
  src/app/meshes/data/index.ts
  src/app/services/locales/en-us/index.yaml
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/ServiceListTabsView.vue
Due: make -j2 lint/script, make lint/css

chore: Bump version numbers to 2.9 (affects dev docs links etc)
  .env.development
  package.json
  src/app/application/services/env/Env.ts
Due: make -j2 lint/script

feature: KumaPort component, for displaying a port consistently
  .eslintrc.cjs
  src/app/kuma/components/kuma-port/KumaPort.vue
  src/app/kuma/components/kuma-port/README.md
  src/app/kuma/index.ts
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshMultiZoneServiceDetailView.vue
  src/app/services/views/MeshMultiZoneServiceListView.vue
  src/app/services/views/MeshMultiZoneServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/app/x/components/x-badge/README.md
  src/app/x/components/x-badge/XBadge.vue
  src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

fix: amend cluster/rule lookups to use resourceMeta.labels
  src/app/connections/data/index.spec.ts
  src/app/connections/data/index.ts
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
Due: make -j2 lint/script, make lint/css

fix(mmzs): remove Service listing from MeshMultiZoneDetail
  features/mesh/services/mesh-multi-zone-services/Item.feature
  src/app/services/routes.ts
  src/app/services/views/MeshMultiZoneServiceConfigView.vue
  src/app/services/views/MeshMultiZoneServiceDetailView.vue
Due: make -j2 lint/script, make lint/css

mesvc > extsvc and mapping alterations
  src/app/connections/data/index.ts
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/rules/data/ResourceRule.ts
Due: make -j2 lint/script, make lint/css

fix: amend cluster/rule lookups to use resourceMeta.labels (#2971)
  src/app/connections/data/index.spec.ts
  src/app/connections/data/index.ts
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/rules/data/ResourceRule.ts
Due: make -j2 lint/script, make lint/css

fix(mmzs): remove Service listing from MeshMultiZoneDetail (#2973)
  features/mesh/services/mesh-multi-zone-services/Item.feature
  src/app/services/routes.ts
  src/app/services/views/MeshMultiZoneServiceConfigView.vue
  src/app/services/views/MeshMultiZoneServiceDetailView.vue
Due: make -j2 lint/script, make lint/css

fix(dataplanes): Remove Resource link from rules drawer
  src/app/connections/data/index.ts
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
Due: make -j2 lint/script, make lint/css

chore(meshservice): removes Services from DDP listing in exclusive
  src/app/data-planes/views/DataPlaneDetailTabsView.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/meshes/routes.ts
  src/app/meshes/views/MeshDetailTabsView.vue
  src/app/meshes/views/MeshView.vue
  src/app/services/features.ts
  src/app/services/views/ServiceListTabsView.vue
Due: make -j2 lint/script, make lint/css

chore: Bump version numbers to 2.9 (affects dev docs links etc) (#2967)
  .env.development
  package.json
  src/app/application/services/env/Env.ts
Due: make -j2 lint/script

feature: KumaPort component, for displaying a port consistently (#2970)
  .eslintrc.cjs
  src/app/kuma/components/kuma-port/KumaPort.vue
  src/app/kuma/components/kuma-port/README.md
  src/app/kuma/index.ts
  src/app/services/views/MeshExternalServiceDetailView.vue
  src/app/services/views/MeshExternalServiceListView.vue
  src/app/services/views/MeshExternalServiceSummaryView.vue
  src/app/services/views/MeshMultiZoneServiceDetailView.vue
  src/app/services/views/MeshMultiZoneServiceListView.vue
  src/app/services/views/MeshMultiZoneServiceSummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/MeshServiceListView.vue
  src/app/services/views/MeshServiceSummaryView.vue
  src/app/x/components/x-badge/README.md
  src/app/x/components/x-badge/XBadge.vue
  src/app/x/index.ts
Due: make -j2 lint/script, make lint/css

fix(dataplanes): Remove Resource link from rules drawer (#2979)
  src/app/connections/data/index.ts
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
Due: make -j2 lint/script, make lint/css

chore(meshservice): removes Services from DDP listing in exclusive (#2980)
  src/app/data-planes/views/DataPlaneDetailTabsView.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/meshes/routes.ts
  src/app/meshes/views/MeshDetailTabsView.vue
  src/app/meshes/views/MeshView.vue
  src/app/services/features.ts
  src/app/services/views/ServiceListTabsView.vue
Due: make -j2 lint/script, make lint/css
