Repository kumahq/kuma-gui: changes, and which lint-staged commands are due for each by the changed paths.
All: make -j2 lint/script, make lint/css, make lint/lock

.lintstagedrc.json:

{
  "*.{js,ts,vue}": "make -j2 lint/script",
  "*.{css,scss,vue}": "make lint/css",
  "package-lock.json": "make lint/lock"
}

chore: "unuse" ErrorBlock (#3011)
  src/app/zones/views/ZoneListView.vue
Due: make -j2 lint/script, make lint/css

chore(e2e): adds localStorage setup and teardown step (#3030)
  cypress/support/step_definitions/index.ts
  cypress/support/step_definitions/visit.ts
Due: make -j2 lint/script

fix(ShortcutManager/normalizeKeyCode): code param can be undefined (#3097)
  src/app/common/filter-bar/ShortcutManager.ts
Due: make -j2 lint/script

chore: Remove RouterLink from globals, its replaced by XAction
  .eslintrc.cjs
  src/app/common/TagList.vue
  src/app/common/TargetRef.vue
  src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/data-planes/components/BuiltinGatewayPolicies.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlanePolicySummaryView.vue
  src/app/data-planes/views/DataPlaneSummaryView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/components/ListenerRoutes.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/kuma/components/ApplicationShell.vue
  src/app/policies/components/PolicyTypeEntryList.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicySummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/zone-egresses/views/ZoneEgressSummaryView.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

replace remaining kbuttons with xactions
  src/app/common/TargetRef.vue
  src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlaneStatsView.vue
  src/app/kuma/components/ApplicationShell.vue
  src/app/kuma/views/KumaNotFoundView.vue
  src/app/onboarding/components/OnboardingAlert.vue
  src/app/onboarding/components/OnboardingNavigation.vue
  src/app/x/components/x-action/XAction.vue
Due: make -j2 lint/script, make lint/css

feat(ServiceListTabsView): add explanatory sentences for service type views
  src/app/services/locales/en-us/index.yaml
  src/app/services/views/ServiceListTabsView.vue
Due: make -j2 lint/script, make lint/css

chore(mk): move accessible targets to the "make main file" i.e. Makefile (#3017)
  Makefile
  mk/build.mk
  mk/check.mk
  mk/help.mk
  mk/install.mk
  mk/run.mk
  mk/test.mk
  package.json
Due: none

chore: replace sass @import with @use to reduce console warnings
  vite.config.production.ts
Due: make -j2 lint/script

feat(services/locales/mesh-services): make links to service type docs open new tab
  src/app/services/locales/en-us/index.yaml
Due: none

fix(services/ServiceListTabsView): alignment of service type description
  src/app/services/views/ServiceListTabsView.vue
Due: make -j2 lint/script, make lint/css

fix(services/locales/mesh-services): remove experimental from MeshExternalService
  src/app/services/locales/en-us/index.yaml
Due: none

Run post-install
  public/mockServiceWorker.js
Due: make -j2 lint/script

feat(ServiceListTabsView): add explanatory sentences for service type views (#3119)
  src/app/services/locales/en-us/index.yaml
  src/app/services/views/ServiceListTabsView.vue
Due: make -j2 lint/script, make lint/css

run post-install script
  public/mockServiceWorker.js
Due: make -j2 lint/script

fix(mocks): use generic partitionInto instead of healthStatus
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/global-insight.ts
Due: make -j2 lint/script

fix(services/locales): hardcoded docs base url in service type descriptions
  src/app/services/locales/en-us/index.yaml
Due: none

fix(services/locales): hardcoded docs base url in service type descriptions (#3127)
  src/app/services/locales/en-us/index.yaml
Due: none

feat(gateways/GatewayListTabsView): add explanatory sentences to gateway types
  src/app/gateways/locales/en-us/index.yaml
  src/app/gateways/views/GatewayListTabsView.vue
Due: make -j2 lint/script, make lint/css

feat(gateways/GatewayListTabsView): add explanatory sentences to gateway types (#3128)
  src/app/gateways/locales/en-us/index.yaml
  src/app/gateways/views/GatewayListTabsView.vue
Due: make -j2 lint/script, make lint/css

fix(mocks): use generic partitionInto instead of healthStatus (#3125)
  src/test-support/FakeKuma.ts
  src/test-support/mocks/src/global-insight.ts
Due: make -j2 lint/script

chore: replace sass @import with @use to reduce console warnings (#3122)
  vite.config.production.ts
Due: make -j2 lint/script

chore: Remove RouterLink from globals, its replaced by XAction (#2873)
  .eslintrc.cjs
  src/app/common/TagList.vue
  src/app/common/TargetRef.vue
  src/app/connections/views/ConnectionInboundSummaryClustersView.vue
  src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  src/app/connections/views/ConnectionInboundSummaryStatsView.vue
  src/app/connections/views/ConnectionOutboundSummaryClustersView.vue
  src/app/connections/views/ConnectionOutboundSummaryOverviewView.vue
  src/app/connections/views/ConnectionOutboundSummaryStatsView.vue
  src/app/data-planes/components/BuiltinGatewayPolicies.vue
  src/app/data-planes/views/DataPlaneDetailView.vue
  src/app/data-planes/views/DataPlanePolicySummaryView.vue
  src/app/data-planes/views/DataPlaneStatsView.vue
  src/app/data-planes/views/DataPlaneSummaryView.vue
  src/app/external-services/views/ExternalServiceListView.vue
  src/app/gateways/components/ListenerRoutes.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/gateways/views/DelegatedGatewayListView.vue
  src/app/kuma/components/ApplicationShell.vue
  src/app/kuma/views/KumaNotFoundView.vue
  src/app/onboarding/components/OnboardingAlert.vue
  src/app/onboarding/components/OnboardingNavigation.vue
  src/app/policies/components/PolicyTypeEntryList.vue
  src/app/policies/views/PolicyDetailView.vue
  src/app/policies/views/PolicySummaryView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/x/components/x-action/XAction.vue
  src/app/zone-egresses/views/ZoneEgressSummaryView.vue
  src/app/zone-ingresses/views/ZoneIngressServicesView.vue
  src/app/zone-ingresses/views/ZoneIngressSummaryView.vue
Due: make -j2 lint/script, make lint/css

fix(search): Always show search bars (#3089)
  src/app/application/components/app-collection/AppCollection.vue
  src/app/common/filter-bar/FilterBar.vue
  src/app/data-planes/views/DataPlaneListView.vue
  src/app/gateways/views/BuiltinGatewayDataplanesView.vue
  src/app/gateways/views/DelegatedGatewayDetailView.vue
  src/app/policies/views/PolicyListView.vue
  src/app/services/views/MeshServiceDetailView.vue
  src/app/services/views/ServiceDetailView.vue
  src/app/x/components/x-input/XInput.vue
Due: make -j2 lint/script, make lint/css

chore: remove unnecessary env vars
  .env
  .env.development
  .env.preview
  index.html
  src/app/application/services/env/CliEnv.ts
  src/app/application/services/env/Env.ts
  vite.config.development.ts
Due: make -j2 lint/script

centralize index.html vars into a vite plugin
  .vitepress/config.ts
  .vitepress/theme/main.md
  src/app/application/services/env/CliEnv.ts
  test-support/index.ts
  vite.config.development.ts
Due: make -j2 lint/script

Put CliEnv back
  package.json
  src/app/application/services/env/CliEnv.ts
  test-support/index.ts
  vite.config.development.ts
Due: make -j2 lint/script

bump version to 2.10
  package-lock.json
  package.json
Due: make lint/lock

Centralize everything underneath vite.plugins
  .eslintrc.cjs
  .vitepress/config.ts
  package.json
  src/app/application/services/env/CliEnv.ts
  src/app/application/services/env/Env.ts
  vite.config.development.ts
  vite.config.preview.ts
  vite.config.production.ts
  vite.plugins.ts
Due: make -j2 lint/script

chore(e2e): fill out `_rules` API with toResourceRules (#2997)
  mk/build.mk
  src/app/application/components/data-source/DataLoader.vue
  src/app/connections/views/ConnectionInboundSummaryOverviewView.vue
  src/app/data-planes/views/DataPlanePoliciesView.vue
  src/app/gateways/components/ListenerRoutes.vue
  src/app/gateways/sources.ts
  src/app/rules/data/Rule.ts
  src/app/rules/data/index.ts
  src/app/rules/sources.ts
  src/test-support/FakeKuma.ts
  src/test-support/fake.ts
  src/test-support/mocks/src/meshes/_/dataplanes/_/_rules.ts
  src/test-support/mocks/src/meshes/_/dataplanes/_/stats.ts
  src/test-support/mocks/src/policies.ts
  src/types/auto-generated.d.ts
Due: make -j2 lint/script, make lint/css

chore: adds XLayout component (#3092)
  src/app/application/components/app-collection/AppCollection.vue
  src/app/application/components/app-view/AppView.vue
  src/app/application/components/data-collection/DataCollection.vue
  src/app/x/components/x-layout/README.md
  src/app/x/components/x-layout/XLayout.vue
  src/app/x/index.ts
  src/assets/styles/_components.scss
Due: make -j2 lint/script, make lint/css

chore: remove unnecessary env vars (#3049)
  .env
  .env.development
  .env.preview
  .eslintrc.cjs
  .vitepress/config.ts
  .vitepress/theme/main.md
  index.html
  package-lock.json
  package.json
  src/app/application/services/env/CliEnv.ts
  src/app/application/services/env/Env.ts
  vite.config.development.ts
  vite.config.preview.ts
  vite.config.production.ts
  vite.plugins.ts
Due: make -j2 lint/script, make lint/lock

chore: clean up some .env file vars
  .env
  cypress/services.ts
  src/app/application/services/env/Env.ts
  src/app/application/services/env/env.spec.ts
  src/app/kuma/index.ts
  src/app/kuma/locales/en-us/index.yaml
  src/shims-env.d.ts
Due: make -j2 lint/script

chore: stop using sass to generate helper classes
  .eslintrc.cjs
  dev-utilities/deprecatedUtilityClasses.cjs
  src/assets/styles/_base.scss
  src/assets/styles/_components.scss
  src/assets/styles/_fonts.scss
  src/assets/styles/_forms.scss
  src/assets/styles/_mixins.scss
  src/assets/styles/_utilities.scss
  src/assets/styles/_variables.scss
  src/assets/styles/main.scss
Due: make lint/css

fix: Bump/override cookie dependency to ^0.7.1
  package-lock.json
  package.json
Due: make lint/lock

fix: undo closed script node in index.html
  .vitepress/config.ts
  index.html
Due: make -j2 lint/script

fix: undo closed script node in index.html (#3149)
  .vitepress/config.ts
  index.html
Due: make -j2 lint/script

chore: clean up some .env file vars (#3135)
  .env
  cypress/services.ts
  src/app/application/services/env/Env.ts
  src/app/application/services/env/env.spec.ts
  src/app/kuma/index.ts
  src/app/kuma/locales/en-us/index.yaml
  src/shims-env.d.ts
Due: make -j2 lint/script

chore: stop using sass to generate helper classes (#3136)
  .eslintrc.cjs
  dev-utilities/deprecatedUtilityClasses.cjs
  src/assets/styles/_base.scss
  src/assets/styles/_components.scss
  src/assets/styles/_fonts.scss
  src/assets/styles/_forms.scss
  src/assets/styles/_mixins.scss
  src/assets/styles/_utilities.scss
  src/assets/styles/_variables.scss
  src/assets/styles/main.scss
Due: make lint/css
